moa **{{ name }}**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% if private %}
**This is a private command - do not use, unless you know what you're doing**
{% endif %}
{{ desc }}

{% if usage %}
Usage::
  
  {{usage }}
{% endif %}

{% if longdesc %}
**Description:**

{{ longdesc }}
{% endif %}



