{{ moa_id }}
------------------------------------------------

{% if title %}**{{ title }}**{% endif %}
{% if description %}

    {{ description }}

{% endif %}

Commands
~~~~~~~~
{% for cname, cdata in commands|dictsort %}
**{{ cname }}**
  {% if cdata.help %}{{ cdata.help }}{% else %}*no help defined*{% endif %}
  
  {% if cdata.delegate %}
  **{{ cname }}** delegates execution to: **{{ cdata.delegate|join(', ') }}**
  {% endif %}

{%- endfor %}
{%- if filesets %}

Filesets
~~~~~~~~
{% for fsid, fs in filesets|dictsort %}

**{{ fsid }}**
  {% if fs.help %}{{ fs.help }}{% endif %}

{% if fs.type == 'input' %}
  | *type*: `input`
  | *category*: `{{ fs.category }}`
  | *optional*: `{{ fs.optional|default(True) }}`
  | *pattern*: `{{ fs.pattern }}`
{% elif fs.type == 'single' %}
  | *type*: `single`
  | *category*: `{{ fs.category }}`
  | *optional*: `{{ fs.optional|default(True) }}`
  | *pattern*: `{{ fs.pattern }}`
{% elif fs.type == 'map' %}
  | *type*: `map`
  | *source*: `{{ fs.source }}`
  | *category*: `{{ fs.category }}`
  | *optional*: `{{ fs.optional|default(True) }}`
  | *pattern*: `{{ fs.pattern }}`
{% endif %}

{% endfor %}
{% endif %}

Parameters
~~~~~~~~~~

{% for pid, p in parameters|dictsort %}

**{{ pid }}**
  {% if p.help %}{{ p.help }}{% endif %}

  | *type*: `{{ p.type }}`
  | *default*: `{{ p.default }}`
  | *optional*: `{{ p.optional }}`

{% endfor %}

miscellaneous
~~~~~~~~~~~~~

**Backend**
  {{ backend }}
**Author**
  {{ author }}
**Creation date**
  {{ creation_date }}
**Modification date**
  {{ modification_date|default('unknown') }}

