.TH {{ moa_id }} 7 "moa {{ moa_id }}" "" "moa {{ moa_id }}"
.SH NAME: {{ moa_id }}
{{ title }}
.SH DESCRIPTION 
{{ description }}
.SH COMMANDS
.IP run
{{ commands[run].get('help', 'Execute default action for this template') }}
{% for command in commands.keys() -%}
{% if command != 'run' -%}
.IP {{ command }}
{% if commands[command].get('help', None) -%}
{{ commands[command].get('help') }}
{% endif -%}
{% endif -%}
{%- endfor %}

.SH PARAMETERS
(* denotes a mandatory parameter)
{% for cat in parameter_category_order -%}
{% if cat %}
.SS {{ cat|capitalize }} parameters
{% endif -%}
{% for pn in _categories[cat] -%}
{% set par = parameters[pn] -%}
{% if not par.private -%}
.IP {{ pn }}{% if not par.optional %}*{%- endif %}
{{ par.help }}. 
type: {{ par.type }},
{%- if par.type == 'set' %}
allowed: 
({% for a in par.allowed -%}
{% if a == par.default %}
.B {{ a }}{% if not loop.last %}, {% endif -%}
{% else %}
{{ a }}{% if not loop.last %}, {% endif -%}
{% endif %}
{%- endfor -%})
{%- else -%}
{%- if par.default %}
Default value: "{{ par.default }}"
{%- endif -%}
{%- endif %}

{% endif -%}
{%- endfor -%}
{%- endfor %}

.SH SEE ALSO 
.IP Manual
http://mfiers.github.com/Moa/
.IP Github
http://github.com/mfiers/Moa 
.SH NOTE 
This is a help page generated for the "{{ moa_id }}" template. To get help
on running Moa, please try:

    moa --help
.SH AUTHOR(S)
{{ author }}

.SH CREATED
{{ creation_date }}
.SH LAST MODIFIED
{{ modification_date }}
