### run

cat {{ regions }} | while read id seqid start stop; 
do
    if (( ${start} < {{flank}} ));
    then fstart=1  
    else fstart=$((${start}-{{flank}}))
    fi
    fstop=$((${stop}+{{flank}}))

    echo samtools view -b {{bam}} ${seqid}:${fstart}-${fstop}
    samtools view -b {{bam}} ${seqid}:${fstart}-${fstop} > ${id}.bam
    #samtools view -b -r ${seqid}:${fstart}-${fstop}  > ${id}.bam

    echo 
done

