### prepare

formatdb -i {{reference}}

### run
{% if protein %}{% set p='T' %}{% else %}{% set p='F' %}{% endif %}
{% set bn=
formatdb -i {{ reference }} 
		-p $(bdbb_protein)
	formatdb -i $(bdbb_input_file_b) -n $(baseB) \
		-p $(bdbb_protein)
	blastall -p $(blast_program) -i $(bdbb_input_file_a) \
		-d $(baseB) -m 8 -v 1 -b 1 \
		-e $(bdbb_eval) \
		> $(baseA).out 
	blastall -p $(blast_program) -i $(bdbb_input_file_b) \
		-d $(baseA) -m 8 -b 1 -v 1 \
		-e $(bdbb_eval) \
		> $(baseB).out 
	cat  $(baseA).out | cut -f-2 | awk '{print $$1 "___" $$2}' | sort | uniq > listA
	cat  $(baseB).out | cut -f-2 | awk '{print $$2 "___" $$1}' | sort | uniq > listB
	-rm -f bidibebla
	for x in `cat listB`; do \
		if grep -q $$x listA; then \
			echo $$x | sed "s/___/\t/" >> bidibebla ;\
		fi; \
	done
	echo -n "sequences in $(bdbb_input_file_a): " > report
	grep ">" $(bdbb_input_file_a) | wc -l >> report
	echo -n "sequences in $(bdbb_input_file_b): " >> report
	grep ">" $(bdbb_input_file_b) | wc -l >> report
	echo -n "number of best biderectional pairs found: " >> report
	cat bidibebla | wc -l  >> report

bdbb_clean:
	-rm -rf *nin *nsq *out *nhr listA listB bidibebla