### clean

rm -rf out || true
rm -rf gff || true

### prepare

mkdir out || true > /dev/null
mkdir gff || true > /dev/null

### run
blastall -i {{ input }} -p {{ program }}               \
	-e {{ eval }} -m 7 -a {{ nothreads }} -d {{ db }}  \
    -b {{ nohits }} -v  {{ nohits }} -o {{ output }}

cat {{ output }} | blast2gff -b {{ gff_blasthit }}     \
    -s {{ gff_source }} -d query > {{ outgff }}

### finish
    blastReport out/ -o blast_report

### unittest
    mkdir 10.blastdb
    cd 10.blastdb
    moa new blastdb -t 'test blast database'
    moa set fasta_file=$MOABASE/share/test/test.fasta
    echo "running blastdb"
    moa run
    cd ../
    mkdir 20.blast
    cd 20.blast
    moa new blast -t 'test blast'
    moa set db=../10.blastdb/blastdb
    moa set input=$MOABASE/share/test/*.fasta -j 12
    echo "running blast"
    moa run
    echo "finished running blast"        
    ls -l