### run
	bowtie-build {{ extra_params }} {{ input }} {{ ebwt_outfile_base }}
	touch {{ ebwt_outfile_base }}

### clean
	rm -f {{name}}.*.ebwt

### unittest

moa set title=bla
moa set input="${MOABASE}/share/test/test.fasta"
moa set ebwt_outfile_base=testDB
moa run

[[ -f testDB ]]
[[ -f testDB.1.ebwt ]]
[[ -f testDB.2.ebwt ]]
[[ -f testDB.3.ebwt ]]
[[ -f testDB.4.ebwt ]]
[[ -f testDB.rev.1.ebwt ]]
[[ -f testDB.rev.2.ebwt ]]

