### run
														
bowtie -S {{ extra_params }}           	    \
    {{ ebwt_base }}                     	\
    {{ fq_input }} | {{ snippets.sam2bam }} - > {{ output }}

### clean

rm *.bam

### unittest

mkdir 01.bowtiedb
cd 01.bowtiedb
moa new -t 'test db' bowtiedb
moa set input=${MOABASE}/share/test/test.fasta
moa set ebwt_outfile_base=testDB
moa run

cd ../
mkdir 02.bowtie_se
cd 02.bowtie_se
moa new bowtie_se -t 'bowtie se'
moa set ebwt_base=../01.bowtiedb/testDB
moa set fq_input=${MOABASE}/share/test/*.fq
moa show
moa run
ls
[[ -s reads_1.bam ]]
[[ -s reads_2.bam ]]