### run
	echo run bowtie_build
	bowtie-build {{ extra_params }} {{ input|join(',') }} {{ output }}
	touch {{ output }}

### clean
	rm *.ebwt {{ ebwt_outfile_base }}

### unittest

moa set title=bowtiedb
moa set input="${MOABASE}/share/test/test.fasta"
moa set ebwt_outfile_base=testDB
moa run

[ -f testDB ]
[ -f testDB.1.ebwt ]
[ -f testDB.2.ebwt ]
[ -f testDB.3.ebwt ]
[ -f testDB.4.ebwt ]
[ -f testDB.rev.1.ebwt ]
[ -f testDB.rev.2.ebwt ]

#if [ -f testDB.1.ebwt ] && (echo "Index files created"; true) || (echo "Index files not created"; false)
   