### run

echo running bwa_sampe
bwa sampe -a {{max_insert_size}}                        \
    -o {{max_occ_read}}                                 \
    -n {{max_aln_out}}                                  \
    -N {{max_out_discordant_pairs}}                     \
    -c {{prior_chimeric_rate}}                          \
    {% if preload_index %} -P {% endif %}				\
    {% if disable_SW %} -s {% endif %}				    \
    {% if disable_insert_size %}, -A {% endif %} 		\
    {{ db }}                                            \
    {{ sai_forward_input }} {{ sai_reverse_input }}     \
    {{ fq_forward_input }} {{ fq_reverse_input }}	    \
    -f {{ output }}

{{ snippets.sam2bam }} {{ output_bam }} {{ output }}

### clean

rm *.sam

### unittest

export MOA_NOLOGO=1
mkdir 10.index
cd 10.index
moa new bwa_index -t 'create a demo database'
moa set input_fasta="${MOABASE}/share/test/test.fasta"
moa run
cd ..
mkdir 20.align
cd 20.align
moa new bwa_aln -t 'align demo reads'
[[ -d .moa ]] && echo "Found .moa directory" || (echo "Cannot find .moa directory"; false)

