### run

echo running bwa_sampe
bwa sampe -a {{max_insert_size}}                        \
    -o {{max_occ_read}}                                 \
    -n {{max_aln_out}}                                  \
    -N {{max_out_discordant_pairs}}                     \
    -c {{prior_chimeric_rate}}                          \
    {% if preload_index %} -P {% endif %}				\
    {% if disable_SW %} -s {% endif %}				    \
    {% if disable_insert_size %}, -A {% endif %} 		\
    {{ db }}                                            \
    {{ sai_forward_input }} {{ sai_reverse_input }}     \
    {{ fq_forward_input }} {{ fq_reverse_input }}	    \
    -f {{ output }}

{{ snippets.sam2bam }} {{ output_bam }} {{ output }} 2>&1

### clean

rm *.sam

