### run

echo running bwa_aln
bwa aln {{db}}                                                                  \
	{% if edit_dist_missing_prob %} -n {{edit_dist_missing_prob}} {% endif %}   \
    {% if gap_opens_max %} -o {{gap_opens_max}} {% endif %}                     \
	{% if gap_ext_max %} -e {{gap_ext_max}} {% endif %}                         \
    {% if no_indel_from_ends %} -i {{no_indel_from_ends}} {% endif %}           \
	{% if max_ext_long_del %} -d {{max_ext_long_del}} {% endif %}               \
	{% if seed_len %} -l {{seed_len}} {% endif %}                               \
	{% if seed_max_diff %} -k {{seed_max_diff}} {% endif %}                     \
	{% if max_queue_entry %} -m {{max_queue_entry}} {% endif %}                 \
	{% if thread_num %} -t {{thread_num}} {% endif %}                           \
	{% if mismatch_penalty %} -M {{mismatch_penalty}} {% endif %}               \
	{% if gap_open_penalty %} -O {{gap_open_penalty}} {% endif %}               \
	{% if gap_ext_penalty %} -E {{gap_ext_penalty}} {% endif %}                 \
	{% if best_hits_stop %} -R {{best_hits_stop}} {% endif %}                   \
	{% if quality_step %} -q {{quality_step}} {% endif %}                       \
	{% if color_space %} -c {% endif %}                                         \
	{% if log_gap_penalty_del %} -L {% endif %}	                                \
	{% if non_iterative %} -N {% endif %}		                                \
	{{ input }}									                                \
	-f {{ output }}

### clean

rm *.sai

### unittest

mkdir 10.index
cd 10.index
moa new bwa_index -t 'create a demo database'
moa set input_fasta="${MOABASE}/share/test/test.fasta"
moa set prefix=testDB
moa run
cd ../
mkdir 20.align
cd 20.align
ls -l 
moa new bwa_aln -t 'align demo reads'
moa set db=${PWD%/*}/10.index/testDB
moa set input=${MOABASE}/share/test/*.fq
moa run
echo 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

moa show
echo 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

moa files 
echo 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

[[ -s reads_1.sai ]]
