### run

gmap_setup -d {{ name }} {{ input }}
make -f Makefile.{{name }} coords
make -f Makefile.{{name }} gmapdb
touch {{ name }}

### clean

rm {{ name }}*
rm coords*
rm Makefile*
rm INSTALL*
gmapdb_clean:
	rm -f $(gmapdb_name).*
	rm -f coords.$(gmapdb_name)
	rm -f Makefile.$(gmapdb_name)
	rm -f INSTALL*
