### run

echo fastq2bfq
maq fastq2bfq {{ fq_input }} {{ bfq_output }}

echo fasta2bfa
maq fasta2bfa {{ fa_input }} {{ bfa_output }}

maq map -m {{read_ref_diff_rate}}                        \
    -e {{max_mismatch_qual_sum}}                         \
    -n {{num_mismatch_24bp}}                             \
    -C {{max_num_hits_out}}                              \
    {{ extra_parameters }}                               \
    {% if disable_sw %} -W {% endif %}		             \
	{% if trim_all_reads %} -t {% endif %}				 \
	{% if match_in_colorspace %} -c {% endif %}			 \
	{{ map_output }} {{ bfa_output }}					 \
	{{ bfq_output }}

echo fasta_to_fai
samtools faidx {{ fa_input }}

echo maq_to_bam	
/opt/samtools/maq2sam-long {{ map_output }} | samtools view -bt {{fa_input}}.fai - > {{ bam_output }}

### clean

rm *.bfq *.bfa *.map

### unittest

mkdir 10.maq_se
cd 10.maq_se
moa new maq_se -t 'maq unittest'
moa set fa_input="${MOABASE}/share/test/test.fasta"
moa set fq_input=${MOABASE}/share/test/*.fq
moa run

