### run

(which xml_grep > /dev/null) || (
      echo "Please install xml_grep";
      echo "On ubuntu: apt-get install xml-twig-tools"
      false
      ) 

(which seqret > /dev/null) || (
      echo "Please install emboss";
      echo "On ubuntu: apt-get install emboss"
      false
      )

if [[ {{sequence_name}} == "from_dir" ]]; then
	seqName=`basename $PWD | sed "s/^[0-9]*\.//"`
else
	seqName={{sequence_name}}
fi

if [[ -z "${seqName}" ]]; then
	seqName='out'
fi

base="http://www.ncbi.nlm.nih.gov/entrez/eutils"
if [[ ! -f query.xml ]]
then
    wget "${base}/esearch.fcgi?term={{query}}&db={{db}}&retmax=1000000&usehistory=y" \
  	    -O query.xml
fi

webEnv=`xml_grep --cond "WebEnv" query.xml --text_only`
queryKey=`xml_grep --cond "QueryKey" query.xml --text_only`

echo "WebEnv $webEnv"
echo "QueryKey $queryKey"

if [[ ! -f $seqName.gb ]]
then
    wget "${base}/efetch.fcgi?db={{db}}&WebEnv=${webEnv}&query_key=${queryKey}&report=gb" \
        -O $seqName.gb
fi

if [[ ! -f $seqName.fasta ]]
then
    if [[ {{rename_sequence}} == "True" ]]; then
	    cat $seqName.gb \
		    | seqret -filter \
		    -osdbname2 "$seqName original_id" \
		    > $seqName.fasta
    else
	    cat $seqName.gb | seqret -filter \
		    > $seqName.fasta
    fi
fi

### clean

rm  *.fasta query.xml fasta.tmp *.gb .moa/lock 2>/dev/null
