### prep_1
echo "dbVendor=mysql " >> orthomcl.config
echo "dbConnectString=dbi:mysql:{{db}}:{{host}}:{{port}}" >> orthomcl.config
echo "dbLogin={{login}}" >> orthomcl.config
echo "dbPassword={{pass}}" >> orthomcl.config
echo "similarSequencesTable={{prefix}}_SimilarSequences" >> orthomcl.config
echo "orthologTable={{prefix}}_Ortholog" >> orthomcl.config
echo "inParalogTable={{prefix}}_InParalog" >> orthomcl.config
echo "coOrthologTable={{prefix}}_CoOrtholog" >> orthomcl.config
echo "interTaxonMatchView={{prefix}}_InterTaxonMatch" >> orthomcl.config
echo "percentMatchCutoff=50" >> orthomcl.config
echo "evalueExponentCutoff=-5" >> orthomcl.config
echo "oracleIndexTblSpc=NONE" >> orthomcl.config

echo "Installing schema"
orthomclInstallSchema orthomcl.config

mkdir compliantFasta
cd compliantFasta
{{
cd ..

### clean

rm orthomcl.config
rm -rf compliantFasta