### run

echo running
soap -a {{ fq_input }} 					\
	-D {{ db_index_files }} 			\
	-o {{ soap_output }} 				\
	-u {{ out_unmapped_reads_file }} 	\
	-n {{ rm_low_qual_reads }} 			\
	{% if out_read_id %} -t {% endif %} \
	-r {{ how_report_hits }} 			\
	-l {{ long_read_seed_len }} 		\
	-v {{ mismatches_per_read }} 		\
	-M {{ match_mode }} 				\
	-g {{ gap_size }}					\
	-e {{ edge_bp_no_gaps }}			\
	-p {{ thread_num }}

samtools faidx {{ fa_input }}	
/opt/samtools/soap2sam.pl {{ soap_output }} | samtools view -bt {{fa_input}}.fai - > {{ bam_output }}

### clean

rm *.sam | rm *.soap | rm *.txt

### unittest

mkdir 10.index
cd 10.index
moa new soapdb -t 'soap index unittest'
moa set input_fasta="${MOABASE}/share/test/test.fasta"
moa run

cd ../

mkdir 20.aln_se
cd 20.aln_se
moa new soap_aln_se -t 'soap aln se unittest'
moa set db_index_files=${MOABASE}/share/test/test.fasta.index
moa set fq_input=${MOABASE}/share/test/*.fq
moa set fa_input=${MOABASE}/share/test/test.fasta
moa run
