### run
if [[  {{ kmer }} -le 31 ]]
then 
   soape='SOAPdenovo-31mer'
elif [[  {{ kmer }} -le 63 ]]
then
   soape='SOAPdenovo-63mer'
elif [[  {{ kmer }} -le 127 ]]
then
   soape='SOAPdenovo-127mer'
else
   echo "Invalid kmer length!!!"
   false
fi


if [[ "{{ skip_config_file }}" = "True" ]]
then
    echo "skip config file generation"
else
    echo "generate config file"
    echo 'max_rd_len=150' > soap.config
    {% for l in fq_forward %}
       echo '[LIB]' >> soap.config
       echo 'avg_ins={{avg_insert}}' >> soap.config
       echo 'rank=1' >> soap.config
       echo 'reverse_seq=0' >> soap.config
       echo 'asm_flags=3' >> soap.config
       echo 'q1={{ l }}' >> soap.config
       echo 'q2={{ fq_reverse[loop.index0] }}' >> soap.config
    {% endfor %}
fi

${soape} all -s soap.config -K {{ kmer }} -p {{ threads }} -o output 

fastaInfo -s  -i output.scafSeq  > output.stats 

### clean

echo 'cleaner'
