### clean

#this is rather drastic - delete all subdirs

echo ${AMISURE}

if [[ "${AMISURE}" != "yes" ]]
then
	echo "This is a drastic, ireversible, operation"
	echo 'please run with env var "AMISURE" to "yes":'
	echo
	echo '$ AMISURE=yes moa clean'
	echo 
	exit 0
fi
echo "I am sure!"
for f in *
do
	if [[ "$f" == "__sync_source" ]]
	then
		continue
	fi

	rm -rf $f
done

