### prepare

mkdir in1 || true
mkdir in2 || true
mkdir out || true

for x in `seq -f '%05g' 1 100`  
  do echo $x > in1/${x}_1.txt
done

for x in `seq -f '%05g' 1 100`  
  do echo $x > in2/${x}_2.txt
done
 
### run2

for x in `seq 10000`; do
	cat {{ input_1 }} >> {{ output }}
	cat {{ input_2 }} >> {{ output }}
	md5sum {{ output }}
done
sleep 0.5

### moacore

moa

### clean

rm -rf in1
rm -rf in2
rm -rf out

### testMoa

moa