exclude .*
include VERSION
include README.txt
recursive-include template *.mk
recursive-include doc/images *.svg *.png *.jpg *gif
recursive-include doc/jinja2/ *.md *.html *.css Makefile *.bib *.tex *.bst *.asc 
recursive-include etc *.mk *.conf *.jinja2
recursive-include share/ *.txt
recursive-include www/ *.html *.js *.css *.png *.gif *.jpg *.css *.cgi
 
