include VERSION
include README
include COPYING
include Changelog.txt

recursive-include moa/data/templates *.moa *.jinja2
recursive-include moa/data/jinja2 *.jinja2
recursive-include moa/data/logo *.txt
recursive-include moa/data/test *.fq *fasta

include moa/data/etc/config
include moa/data/etc/bash_completion.d/moa
include moa/data/etc/profile.d/moa.sh


