pre {
	border-left: 2px solid black;
	margin-left: 20px;
	padding-left: 5px;
}
html {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, "Lucida Sans";
}

body {
	font-size:0.8em;
	margin-left: 10px;
	margin-top: 0px;
	color: #000;
    background-color: #fff;
	background-image: url(images/shadow.png);
	background-position:center;
	background-repeat: repeat-y;
}

td {
	font-size:0.8em;
}

li {
	font-size:1.0em;
}


#wrapper {
	width: 815px;
	margin: 0 auto
	text-align: left;
}

hr {
    border: 0;
    height: 1px;
    widht: 81%;
    background-color: black;
}
#navbar {
	background-color: #51002d;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}

#navbar li {
margin: 0;
padding: 0;
float: left;
}

#navbar a {
float: left;
width: 133px;
color: #FFFFFF;
text-decoration: none;
line-height: 31px; 
text-align: center;
border-right: 1px solid #FFF;
}

#navbar #nav_inactive a {
	background: #51002d;
}

#navbar #nav_inactive a:hover {
	background: #996666;
	color: #FFF;
}

#nav_active a {
	background: #666666;
    color: #FFFFFF;
    font-weight: bold;
}

#left {
	float:left;
	width:170px;
	padding:10px;
	background-color:#FFFFFF;
    text-align: left;
}

#center_content {
    margin-left:5px;
	float:left;
	padding:0px;
	background-color:#97B0CF;
    text-align: left;
    width: 620px;
}

#right_2_column {
    margin-left:5px;
	float:right;
	padding:0px;
	background-color:#FFFFFF;
    text-align: left;
    width: 620px;
}

#right {
	float:right;
	width:185px;
	margin-left: 5px;
	padding:10px 5px 5px;
	background-color:#FFFFFF;
    text-align: left;
}

#homepage_container {
	width:580px;
	margin: 20px 20px 150px 20px;
    text-align: left;
}

#right_2_column_container {
	width:560px;
	margin: 20px 0px 50px 20px;
    text-align: left;
}

#footer {
	clear:both;
	padding:0px;
	line-height: 2.5; 
	margin-left: 195px;
	width: 400px;
	text-align: left;
}

.logo {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	float: right;
	border: 0px;
}

.logo_overlap {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: -25px;
	float: right;
	border: 0px;
	z-index: 10;
}

.header1 {
	text-decoration: none;
	color: #333;
	font-size: 1.6em;
}

h1#chapterTitle {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.6em;
}

h1#menuTitle {
	text-decoration: none;
	color: #000000;
	font-size: 1.6em;
	margin: 0.3em;
}
img#menulogo {
	margin-bottom: 0.4em;

.footer_text {
	float: left;
	text-decoration: none;
	color: #333;
	font-size: 0.8em;
}

.caption_text {
	text-decoration: none;
	font-size: 1.0em;
	color: #666666;
}

#leftnavbar {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	width: 160px;
	list-style-type: none;
	float: left;
	font-size: .9em;
}

#leftnavbar li {
margin: 0;
padding: 0;
float: left; /*this corrects the */
width: 100%; /* IE6 whitespace bug */
}

#leftnavbar a {
display: block; /* to increase clickable area as a’s default to inline */
color: #999999;
text-decoration: none;
padding: 0 5px;
line-height: 2; 
border:1px solid #FFFFFF;
}

#leftnavbar a:hover {
background: #CCCCCC;
border:1px solid #666666;
color:#000000;
}

.image {
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.image_no_top_left_margin {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}

.header2 {
	text-decoration: none;
	color: #333;
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: bold;
}

.header3 {
	text-decoration: none;
	color: #333333;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: bold;
}

.date_location {
	color: #666666;
	font-size: 0.8em;
	line-height: 1.6em;
	font-weight: bold;
	text-align: right;
}

.more {
	text-decoration: none;
	text-align: right;
	color: #666666;
	font-size: .9em;
}
	
a.more:link, a.more:visited {
	text-decoration: none;
	text-align: right;
}

a.more:hover {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
	border-top: 1px none #666666;
	border-right: 1px none #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px none #666666;
}

a.more:active {
	text-decoration: none;
}


.style2 {color: #0066FF}
.style3 {color: #009933}
