<%def name="moaTopRow()">
<b>undefined</b>
</%def>

<%def name="breadCrumbs()">
<%include file="breadcrumbs.html" />
</%def>

<%def name="documentready()">
<%include file="document.ready.js" />
</%def>

<%def name="moaMenu()">
<ul id="jsddm"> 
   <%include file="menu.moa.html" />
</ul>
</%def>

<%def name="extraJS()">
console.log("EXTRAJS is not defined");
</%def>

<%def name="loadInProgress()">
<div id="loadInProgress">
  <img id="moaProgress" src="/moa/images/moa_progress.gif">
    <br>
      <b>Loading data<br>please be patient</b>
      <div style="clear: both;"></div>
 </div>
</%def>

  <link rel="stylesheet" href="/moa/css/moa.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/moa/css/moa.table.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/moa/css/moa.menu.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/moa/css/jqModal.css" type="text/css" media="screen">

  <script type="text/javascript" src="/moa/js/jquery.js"></script>
  <script type="text/javascript" src="/moa/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/moa/js/jquery.menu.js"></script>
  <script type="text/javascript" src="/moa/js/jqModal.js"></script>

  <script type="text/javascript">

    ${documentready()}
    ${self.extraJS()}

  </script>

  </head>
  <body>
      ${self.loadInProgress()}
      <div class="moaMessage"></div>
      <div class="moaHeader">
        <div class="moaLogo">
          <img src="/moa/images/moa_logo_${status}.png" />
        </div>
        <div class="moaTopRow">
          ${self.moaTopRow()}
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="moaBreadCrumbs">
        ${self.breadCrumbs()}
      </div>
      <div class='moaFiles'>
        
