<%
if moacwd.find(dataRoot) != 0:
    blocks = [{'name' : moacwd,
               'class' : 'moaBreadCrumb',
               'link' : requestUri}]
else:

    pathUntilNow = webRoot
    steps = moacwd[len(dataRoot)+1:].split('/')

    blocks = [{'name' : webRoot,
               'class' : 'moaBreadCrumb',
               'link' : webRoot}]
    
    if len(steps) > 1:        
        for r in steps[:-1]:
            pathUntilNow += '/' + r
            blocks.append({'name' : r,
                           'class' : 'moaBreadCrumb',
                           'link' : pathUntilNow })

    blocks[-1]['class'] += ' moaBreadCrumbActive'
%>

% for block in blocks:
<span class="${block['class']}"
% if not 'moaBreadCrumbActive' in block['class']:
        onclick='window.location.replace("${block["link"]}")'
   % endif
>${block['name']}</span><b>/</b>
% endfor    

