<%inherit file="base.html"/>

<%def name="moaMenu()">
<ul id="jsddm"> 
  <li><a>Configure</a>
    <ul>
      <a href='#' onclick="moaAjaxCall('lock', {wd: '${moacwd}'});">Lock</a>
      <a href='#' onclick="moaAjaxCall('unlock', {wd: '${moacwd}'});">Unlock</a>

    </ul>
    </li
   <%include file="menu.moa.html" />

</ul>
</%def>


<%def name="moaTemplateInfo()">
<div class='moaTemplateDescription jqmWindow' id="dialog">
<a href='#' class='jqmClose'>Close</a>
<h3>Template ${allinfo.get('template_title')} (${allinfo.get('moa_id')})</h3>
<i>${allinfo.get('template_description', 'undefined')}</i>
<h4>Parameters</h4>
<ul>
%for k in parameterKeys:
   <li><b>${k}</b>: ${allinfo['parameters'][k]['help']}
%endfor
</ul>
<h4>Author</h4>
${allinfo.get('template_author', 'undefined')}
</div>
</%def>

<%def name="extraJS()">
<%include file="moa.js" />
</%def>


<%def name="moaTopRow()">
${moaTemplateInfo()}
<div class="moaMenu">
  ${self.moaMenu()}
</div>
<div class='moaTemplate'>
  ${template}
</div>
<div class="moaTitle"ondblclick='editTitle();' id='title'>
    ${jobTitle} 
</div>
</%def>
