== Blog entry ==

{| style="color: black; background-color: #ffffff;" width="100%" class="wikitable"
! Project
| [[MoaProject::moa/{{smw.project}}]]
|-
! Job
| [[MoaJob::{{smw.smwjobid }}]]
|-
! Teaser
| [[MoaBlogTeaser::{{smw.teaser}}]]
|}

{{smw.message}}

[[Category:Moa]]
[[Category:MoaBlogEntry]]
