Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" href="/moa/css/moa.css" 
          type="text/css" media="screen">
    <link rel="stylesheet" href="/moa/css/moa.table.css" 
          type="text/css" media="screen">
    <link rel="stylesheet" href="/moa/css/moa.menu.css" 
          type="text/css" media="screen">
    <link rel="stylesheet" href="/moa/css/jqModal.css" 
          type="text/css" media="screen">
    <link rel="stylesheet" href="/moa/css/jquery.pagination.css" 
          type="text/css" media="screen">

  <script type="text/javascript" src="/moa/js/jquery.js"></script>
  <script type="text/javascript" src="/moa/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/moa/js/jquery.menu.js"></script>
  <script type="text/javascript" src="/moa/js/jquery.pagination.js"></script>
  <script type="text/javascript" src="/moa/js/jqModal.js"></script>

  <script type="text/javascript">
    {% block documentready %}
    {%include "document.ready.js" %}
    {% endblock %}
    
    {% block extraJS %}
    {% endblock %}

  </script>
  
</head>
<body>
  {% block moaTemplateInfo %}
  {% endblock %}

  {% block loadInProgress %}
  <div id="loadInProgress">
    <img id="moaProgress" src="/moa/images/moa_progress.gif">
    <br>
    <b>Loading data<br>please be patient</b>
    <div style="clear: both;"></div>
  </div>
  {% endblock %}
  <div class="moaMessage"></div>

  <div class="moaHeader">
    <div class="moaLogo">
      <img src="/moa/images/moa_logo_{{ status }}.png" />
    </div>
    <div class="moaHeaderRight">
      <div class="moaTopRow">
        {% block moaMenu %}
        <div class="moaMenu">
          <ul id="jsddm"> 
            {%include "menu.moa.html" %}
          </ul>
        </div><!-- <div class="moaMenu"> -->
        {% endblock %}
        {% block moaTemplate %}
        <div class="moaTemplate">no template</div>
        {% endblock %}
        {% block moaTitle %}
        <div class="moaTitle">
          undefined
        </div><!--<div class="moaTitle">-->
        {% endblock %}
      </div> <!-- <div class="moaTopRow"> -->
      <div class="moaSecondRow">
        {% block breadCrumbs %}
        {% include 'breadcrumbs.html' %}
        {% endblock %}
      </div> <!-- <div class="moaSecondRow"> -->
    </div><!--</moaHeaderRight>-->
    <div style='clear:both;'></div>
  </div><!-- /moaHeader -->
  <div class='moaTabs'>
    <span class='moaTab'>Files</span>
    <span class='moaTab'>Template</span>
  </div>
  <div>
    <span class='paginatedMenu'></s pan>
  </div>
  {% if jobDescription %}
  <div class='jobDescription'>
    <div class='jobDescriptionMinimize'><b>&uarr;&uarr;&uarr;</b></div>
    {{ jobDescription }}
  </div>
  {% endif %}
  <div class='paginatedResults'></div>
