### run

set -v
{{ process }}


### unittest
#!/bin/bash -v
set -e
tmpdir=`mktemp -d`
cd $tmpdir
touch 'testtesttest'
moa new simple -t 'test'
moa set title="helllloooooo!"

moa set process=ls
echo '---------'
cat .moa/config
pwd
ls -al
moa
moa run | grep 'testtesttest'
rm -rf $tmpdir

