{% extends "base.html" %}

{% block extraJS %}
{% include "moa.js" %}
{% endblock %}


{% block tabs %}
<ul> 
  {% if jobDescription %}
  <li><a href="#jobDescription">Description</a></li> 
  {% endif %}
  <li><a href="#fileBrowser">File browser</a></li> 
  <li><a href="#templateInfoTab">Job info</a></li> 
  <!--<li><a href="#parameterTab">Parameters</a></li>-->
</ul> 

{% if jobDescription %}
<div id='jobDescription'>    
  {{ jobDescription }}
</div>
{% endif %}

<div id='fileBrowser' class='fileList'> 
</div>
<div id='templateInfoTab'>
  <a href='#' class='jqmClose'>Close</a>
  <h3>Template {{ job.template.name }}</h3>
  <i>{{job.template.description }}</i>
  <h4>Parameters</h4>
  <ul>
    {% for k in job.conf.keys() %}
    <li>
      <b>{{k}}</b>: {{ job.conf[k]  }}
    </li>
    {% endfor %}
  </ul>
  <h4>Author</h4>
  {{ job.template.author }}
</div>
{% endblock %}

{% block moaTemplate %}
<span class="moaTemplate">{{job.template.name }}
</span>
{% endblock %}

{% block moaTitle %}
<span class="moaTitle"ondblclick="editTitle();" id="title">
  {{ job.conf.title }}
</span>
{% endblock %}
