{% extends "base.html" %}

{% block extraJS %}
{% include "moa.js" %}
{% endblock %}


{% block tabs %}
<ul> 

  {% if jobReport %}
  <li><a href="#jobReport">Report</a></li> 
  {% endif %}
  {% if jobDescription %}
  <li><a href="#jobDescription">Description</a></li> 
  {% endif %}
  <li><a href="#fileBrowser">File browser</a></li> 
  <li><a href="#templateInfoTab">Job info</a></li> 
  <li><a href="#fileSets">IO</a></li> 
</ul> 
 
{% if jobReport %}
<div id='jobReport'>    
  {{ jobReport }}
</div>
{% endif %}

{% if jobDescription %}
<div id='jobDescription'>    
  {{ jobDescription }}
</div>
{% endif %}

<div id='fileBrowser' class='fileList'> 
</div>

<div id='templateInfoTab'>
  <h2>Template {{ job.template.name }}</h2>
  <i>{{job.template.description }}</i>  
  <h3>Parameters</h3>
  <table class='moaParameters'>
    {% for k in job.conf.keys() %}
    <tr>
      <td class='moaParameterHeader'>
		{{k}}
	  </td>
	  <td class='moaParameterValue' >
		{{ job.conf[k]  }}
	  </td>
	  </td>
    </tr>
    {% endfor %}
   <tr>
	 <td colspan="2">
	   <h3>Template settings</h3>
	 </td>
   <tr>
	  <td class='moaParameterHeader'>
		Author
	  </td>
	  <td class='moaParameterValue'>
		{{ job.template.author }}
	  </td>
	</tr>
	<tr>
	  <td class='moaParameterHeader'>
		Backend
	  </td>
	  <td class='moaParameterValue'>
		{{ job.template.backend }}
	  </td>
	</tr>
  </table>
</div>

<div id="fileSets">
  <h3>Filesets</h3>
  <i>to be implemented</i>
</div>

{% endblock %}

{% block moaTemplate %}
<span class="moaTemplate">{{job.template.name }}
</span>
{% endblock %}

{% block moaTitle %}
<span class="moaTitle"ondblclick="editTitle();" id="title">
  {{ job.conf.title }}
</span>
{% endblock %}
