{% extends "base.html" %}

{% block extraJS %}
{% include "moa.js" %}
{% endblock %}


{% block tabs %}
<ul> 
  {% for f in files %}
  <li><a href="#{{f}}">{{f}}</a></li>
  {% endfor %}
  {% if jobReport %}
  <li><a href="#jobReport">Report</a></li> 
  {% endif %}
  {% if jobDescription %}
  <li><a href="#jobDescription">Description</a></li> 
  {% endif %}
  <li><a href="#fileBrowser">File browser</a></li> 
  <li><a href="#templateInfoTab">Job info</a></li> 
  <li><a href="#fileSets">In & Output</a></li> 
</ul> 

{% for f in files %}
<div id="{{f}}">
  {{ files[f] }}
</div>
{% endfor %}

{% if jobReport %}
<div id='jobReport'>    
  {{ jobReport }}
</div>
{% endif %}

{% if jobDescription %}
<div id='jobDescription'>    
  {{ jobDescription }}
</div>
{% endif %}

<div id='fileBrowser' class='fileList'> 
</div>

<div id='templateInfoTab'>
  <h2>Template {{ job.template.name }}</h2>
  <i>{{job.template.description }}</i>  
  <h3>Parameters</h3>
  <table class='moaParameters'>
    {% for k in job.conf.render(showPrivate=False) %}
    <tr>
      <td class='moaParameterHeader'>
		{{k}}
	  </td>
	  <td class='moaParameterValue' >
		{{ job.conf[k] }}
	  </td>
	  </td>
    </tr>
    {% endfor %}
   <tr>
	 <td colspan="2">
	   <h3>Template settings</h3>
	 </td>
   <tr>
	  <td class='moaParameterHeader'>
		Author
	  </td>
	  <td class='moaParameterValue'>
		{{ job.template.author }}
	  </td>
	</tr>
	<tr>
	  <td class='moaParameterHeader'>
		Backend
	  </td>
	  <td class='moaParameterValue'>
		{{ job.template.backend }}
	  </td>
	</tr>
  </table>
</div>

<div id="fileSets">
  <h3>Filesets</h3>
  
  <!-- first handle the in/output filesets -->
  {% for msid in job.data.mappedSets.keys()|sort %}  
  {% set ms = job.data.mappedSets[msid] %}
  
  <!--<h4>{{msid}} {% for x in ms.maps|sort %} / {{ x }}{% endfor %}</h4>-->
  {% if ms.fs.type == 'set' %}
  <table style="cellpadding: 4px;">
    <tr>
      <td></td>
      <td><b>{{ msid }}</b></b></td>
      {% for x in ms.maps|sort %}
        <td><b> {{ x }}</b></td>
      {% endfor %}
    </tr>
    <tr>
      <td><b>Category</b></td>
      <td>{{ ms.fs.category }}</td>
      {% for x in ms.maps|sort %}
        <td> {{ ms.maps[x].category }}</b></td>
      {% endfor %}
    </tr>
    <tr>
      <td><b>Optional</b></td>
      <td>{{ ms.fs.optional }}</td>
      {% for x in ms.maps|sort %}
        <td> {{ ms.maps[x].get("optional", True) }}</td>
      {% endfor %}
    </tr> 
    <tr>
      <td><b>Type</b></td>
      <td>{{ ms.fs.type }}</td>
      {% for x in ms.maps|sort %}
      <td>
          {{ ms.maps[x].type }}
      </td>
      {% endfor %}
     </tr>
     <tr>
      <td><b>Help</b></td>
      <td>{{ ms.fs.help }}</td>
      {% for x in ms.maps|sort %}
      <td>
          {{ ms.maps[x].help }}
      </td>
      {% endfor %}
     </tr>
    <tr>
      <td><b>Files</b></td>
    </tr>
    {% for i in ms.lifs %}
    {% set outer_loop=loop %}
    <tr>
      <td><b>{{ loop.index }} </b></td>
      <td>{{i}}</td>
      {% for x in ms.maps|sort %}
      <td>
        {{ ms.maps[x].lifs[outer_loop.index0] }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}

 </table>
  {% endif %}
 {% else %}
 <b>No filesets defined</b>
  {% endfor %}
</div>

{% endblock %}

{% block moaTemplate %}
<span class="moaTemplate">{{job.template.name }}
</span>
{% endblock %}

{% block moaTitle %}
<span class="moaTitle"ondblclick="editTitle();" id="title">
  {{ job.conf.title }}
</span>
{% endblock %}
