Title: filesets

Set  | Name         | Typ | Cat     | File
-----|--------------|-----|---------|----------------------------------------------
{% for fset in sets %}{%- set outerindex=loop.index -%}
{%- for f in fset -%}
{%- if loop.index0 == 0 -%}
{{ "%03d"|format(outerindex) }}. |
{%- else -%}
{{ "%4s"|format(" ") }} |
{%- endif -%}
 {{ "%-12s"|format('**' + f[0][:8] + '**') }} | {{ "%3s"|format(f[1][:3]) }} | {% set dummy=1 -%}
{{ "%6s"|format(f[2][:6]) }} | {% set dummy=2 -%}
[{{ f[4] }}]({{ f[4] }}) **/** [{{ f[5] }}]({{ f[3] }})
{% endfor -%}
{% endfor %}
