# -*- coding: utf-8 -*-

SITEURL = './doc/pelican/'
SITENAME = "Moa"
DEFAULT_LANG = 'en'
SERVER = u'{{ doc.server }}'
WD= u'{{ job.wd }}'
RELATIVE_URLS = True
DISPLAY_PAGES_ON_MENU = True
DEFAULT_PAGINATION = 15
OUTPUT_PATH = './doc/pelican/'
#PATH = 'doc'
REVERSE_ARCHIVE_ORDER = True
CONTENT_STATIC_LOC = '../../'
MD_EXTENSIONS = ['tables', 'def_list']
SUMMARY_MAX_LENGTH = 50

LINKS = (('Moa docs', 'http://mfiers.github.com/Moa/'),
         ('Moa source', 'https://github.com/mfiers/Moa'),
         )

