Title: template "{{ t.moa_id }}"

{{ t.description }}

{% macro printpar(p) -%}
{{ "%24s"|format('**' + p + '**') }} |
{%- if t.parameters[p]['optional'] == False %} M {% else %} O {% endif %}|
{%- if t.parameters[p]['type'] %}{{ "%10s"|format(t.parameters[p].type)}} {% else %} -         {% endif -%}
|{% if t.parameters[p].help %}{{t.parameters[p].help}}{%endif%}
{% endmacro -%}

{%- macro printfs(f) -%}
{{ "%24s"|format('**' + f + '**') }} |{%- set strip='yes' -%}
{% if t.filesets[f].optional%} O {% else %} M {% endif %}|{%- set strip='yes' -%}
{{ "%10s"|format(t.filesets[f].category) }}|{%- set strip='yes' -%}
{{ "%10s"|format(t.filesets[f].type) }}|{%- set strip='yes' -%}
{% if t.filesets[f].help %}{{ t.filesets[f].help }}{% endif %}
{% endmacro -%}

### Filesets

Name                     | O | category | type     | help
-------------------------|---|----------|----------|-------------------------------------------------------------
{% for p in t.filesets -%}
{{ printfs(p) }}
{%- endfor %}

### Parameters

Name                     | O | type      | help
-------------------------|---|-----------|-------------------------------------------------------------
{% for p in t.parameters -%}
{%- if p[0] != "_" and p[:4] != "moa" %}{{printpar(p)}}{% endif %}
{%- endfor %}



### General

* Author: {{ t.author }}
* Backend: {{ t.backend }}
* 