/*
Green #1DA343
Red  #A31E39

Greys - dark to light
color1=485C5A
color2=8C9C9A
color3=9DB2B1
color4=BFCFCC
color5=D6E4E1
*/
body {
	font-family: Verdana, Geneva, sans-serif;
    padding:0px;
    margin: 0px;
}
html { margin: 0px; padding: 0px; }

a:link { color: #173C48 }
a:visited { color: #173C48 }
a:hover { color: #FE5D44; }
a:active { color: #FE5D44; }

.moaHeader {
	clear: both;
	padding: 0px;
	margin: 0px;
    padding: 2px;
	margin-bottom: 0px;
    background-color: #fff;
}

.tooltip {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
   background-color: #D6E4E1;
   -moz-border-radius: 6px; 
   -webkit-border-radius: 6px;
   border-radius: 6px;     
   padding: 5px;
   color: black;
   border: 1px solid #485C5A;
}

.moaInfo {
}

.moaFiles {

}

.moaLogo {
	padding: 3px;
	float: left;
	margin: 0px;
	width: 87px;
    height: 80px;
}

.moaBreadCrumbs a:link { color: white }
.moaBreadCrumbs a:visited { color: white }
.moaBreadCrumbs a:hover { color: #A31E39; }
.moaBreadCrumbs a:active { color: #A31E39; }

.moaTopRow{
    display: absolute;
    left: 100px;
    top: 0px;
    right: 0px;
	margin: 0px;
    padding: 0px;
}
.moaTitle {
    float: left;
    padding: 2px;
    margin-left: 6px;
    font-weight: bold;
}
.moaStatus {
    float: right;
    font-weight: bold;
    padding: 2px;
    padding-right: 5px;
    margin-right: 5px;
    padding-left: 5px;
    -moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #8C9C9A;
    color: white;    
	border: 1px solid #485C5A;
}

.moaMenu {
    float: right;
}

.moaTemplate {
    font-weight: bold;
    cursor: pointer;
	float: left;
	padding: 2px;
    margin: 0px;
    padding-right: 5px;
    padding-left: 8px;
    -moz-border-top-left-radius: 4px; 
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px; 
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
    color: black;
    background-color: #B6E8B4;
	border-right: 2px solid black;
}

.moaBreadCrumbs {
    width: 100%;
    //border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
}

.moaMessage {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    display: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
    background-color:  #A31E39;
    color: white;
    text-align: center;
    font-weight: bold;
}

.moaEditString {
	font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    width: 60%;
    border: 0px;
    padding: 3px;
    -moz-border-radius: 2px; 
	-webkit-border-radius: 2px;	
    border: 1px solid black;
    margin-left: 4px;
}
.moaBreadCrumb {
    font-weight: bold;
    cursor: pointer;
	padding: 2px;
    margin: 2px;
    color: #9DB2B1;    
}

.moaBreadCrumbActive {
//	background-color: #D6E4E1;
    color: black;
    cursor: auto;
    margin-left: auto;
    margin-right: auto;
}

div#loadInProgress {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 300px;
    margin-left: -150px;
    height: 200px;
    text-align: center;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #BFCFCC;
}
img#moaProgress {
    padding-top: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*file table */
.moaPgFilelist {
    border-collapse: collapse;
    width: 100%;
    margin-left:5px;
}

.moaPgFilelist tr {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.moaPgFilelist td.moaPgNotLeft {
    border: 0px;
    border-left: 1px solid black;
    padding: 2px;
    padding-left: 4px;
    margin: 0px;
}

.moaPgFilelist .moaPgFileInfo {
    font-size: 9px;
    color: #83988E;
}

.moaPgFilelist .moaPgIcon {
    padding-right: 2px;
}
