body {
	background-color:#FFFFFF;
	color:black;
	font-size: 0.9em;
	font-family:verdana,helvetica,sans-serif;
}

div#moaTitle {
     font-size:40px;
	 font-weight:bold;
	 padding:20px;
}

div#moaVersion {
     font-size:1em;
	 padding:20px;
}

div#menu {
	margin : 15px;
	position:absolute;
	left:0;
	width:150px;
	top:0;
	bottom: 0;
	font-size:0.9em;
	border-right: 3px solid black;
}
div#content {
	padding:15px;
	position:absolute;
	left:175px;;
	right:0px;
	top:0px;
	bottom:0px;
	overflow:auto;
}

img#menuLogo {
	border: 0px;
}

div#menu ul {
	padding:20px;
	margin:10px;
}

div#MoaDetails {
	position: absolute;
	color: black;
	bottom: 0px; 	
	left: 0px;
	right: 0px;
	background-color:white;
	opacity: 0.5;
	filter:alpha(opacity=50)
}

div#MoaDetails td{
	font-size : 0.6em;
}

div#MoaDetails th{
	text-align: right;
	font-size : 0.6em;
}

h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 1em;
}

h1#chapterTitle {
	width: 95%;
	background-color: #333;
	color: white;
	padding: 8px;
	border: 2px solid black;
	font-size: 2em;
}

tr.even {
	background-color: #EEE;
}

td {
	padding: 5px;
	border-left: 1px dotted black;
	margin: 0px;
}