Source: moa
Section: science
Priority: extra
Maintainer: Mark Fiers <mark.fiers.42@gmail.com>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.8.0
Homepage: http://mfiers.github.com/Moa/

Package: moa
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, make, python (<< 2.7), python (>= 2.5)
Recommends: 
Description: Makefiles in bioinformatics
 Moa is a set of tools build around GNU make that facilitates the use
 of GNU make in bioinformatics data analysis. Moa helps in organizing
 and formalizing a bioinformatics analysis pipeline without losing any
 of the flexibility that comes with using ad-hoc scripting.

Package: moa-extra
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, moa, python-biopython, python (<< 2.7), python (>= 2.5), blast2, bowtie
Recommends: 
Description: Makefiles in bioinformatics
 Lots of extras for the moa package moa package, 

Package: moa-doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, moa
Recommends: 
Description: Documentation for Moa
 HTML, Markdown and API docs for Moa.

