Title: file sets

Set  | Input                   | Output                 |
-----|-------------------------|------------------------|
{% for no_in_cat, fset in sets %}{%- set outerindex=loop.index -%}
{%- for i in range(no_in_cat) -%}
{%- if loop.index0 == 0 -%}
{{ "%03d"|format(outerindex) }}. |
{%- else -%}
{{ "%4s"|format(" ") }} |
{%- endif -%}
{%- if fset.input|length <= i -%}
{{ '                         |' }}
{%- else -%}{% set f=fset['input'][i] -%}
[{{f[3]}}](../../../../{{ f[3] }}) / [&psi;](../../../../{{ f[3] }}/index.html) / [{{ f[4] }}](../../../../{{ f[2] }}) |
{%- endif -%}
{%- if fset.output|length <= i -%}
{{ '                         |' }}
{%- else -%}{% set f=fset['output'][i] -%}
[{{f[3]}}](../../../../{{ f[3] }}) / [&psi;](../../../../{{ f[3] }}/index.html) / [{{ f[4] }}](../../../../{{ f[2] }})
{%- endif -%}
{{ '\n' }}
{%- endfor %}
{%- endfor -%}

