Title: directory

Filename                | Size                   |
------------------------|------------------------|
[..](../../../../../)   |                        |
{%- for f in files %}
[./{{ f }}](../../../../{{ f }}) | {{ data[f][6] }}     |
{%- endfor -%}

