<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Moa pelican page for {{ WD }}</title>
<meta http-equiv="REFRESH" content="0;url=./.moa/doc/pelican/pages_directory.html"></HEAD>
<BODY>
..should have redirected...
</BODY>
</HTML>
