/*
  WWWMoa Client
  Normal Style
*/

body
{
font-size:12pt;
font-family:arial, helvetica, sans-serif;
padding:0px;
margin:0px;
width:100%;
height:100%;
background-color:#FFFFFF;
color:#000000
}

#wrapper
{

}

.title img
{
vertical-align:middle;
border:0px solid #000000
}

div.title
{
font-weight:bold;
font-size:40pt;
text-decoration:none;
padding:6px;
margin-bottom:4px;
border:1px solid #000000;
font-family:verdana, arial, sans-serif;
background-color:#008000;
background-image:url(../images/STYASTgradient3);
background-position:0 0;
background-repeat:repeat-x;
color:#FFFFFF
}

.section
{
background-color:#FFFFFF;
color:#000000;
border:1px solid #000000;
padding:6px 4px 16px 4px;
margin:2px 0px 16px 0px;
}

.section .title
{
font-weight:bold;
font-size:14pt;
text-decoration:underline
}

#smallnotices
{
font-size:10px;
color:#206020;
font-family:verdana, arial, sans-serif;
padding:2px;
background-color:#FFFFFF
}

a
{
color:#0000FF;
}

a:visited
{
color:#800080;
}

#smallnotices a
{
color:#008000;
}

.title a
{
text-decoration:none;
color:#FFFFFF;
border:0px solid #000000
}
