/*
  WWWMoa
  Normal Style
*/

body
{
background-color:#F0F0FF;
background-image:url(../images/STYASTgradient2);
background-repeat:repeat-x;
background-position:0 0;
font-size:12pt;
font-family:arial, sans-serif;
}

#wrapper
{
background-color:#FFFFFF;
color:#000000;
border:2px solid #808080;
padding:12px;
}

.title img
{
vertical-align:middle;
border:0px solid #000000
}

span.title
{
font-weight:bold;
font-size:36pt;
text-decoration:underline
}

div.title
{
font-weight:bold;
font-size:36pt;
text-decoration:none;
padding:6px;
border:1px solid #000000;
background-color:#F0F0F0;
font-family:verdana, arial, sans-serif
}

.section
{
background-color:#FFFFFF;
color:#000000;
border:1px solid #000000;
padding:6px 4px 16px 4px;
margin:2px 0px 16px 0px;
}

.section .title
{
font-weight:bold;
font-size:14pt;
text-decoration:underline
}

#smallnotices
{
font-size:10px;
color:#206020;
font-family:verdana, arial, sans-serif;
border:1px solid #808080;
padding:2px;
margin-top:16px;
background-color:#FFFFFF
}

a
{
color:#0000FF;
}

a:visited
{
color:#800080;
}

#smallnotices a
{
color:#008000;
}

.title a
{
text-decoration:inherit;
color:inherit
}