/*
  WWWMoa
  Normal Style
*/

body
{
background-color:#000020;
background-image:url(../images/STYASTgradient1);
background-position:0 0;
background-repeat:repeat-x;
font-size:12pt;
font-family:arial, sans-serif;
}

#wrapper
{
background-color:#FFFFFF;
color:#000000;
border:2px solid #808080;
padding:12px;
}

span.title
{
font-weight:bold;
font-size:36pt;
text-decoration:underline;
}

div.title
{
font-weight:bold;
font-size:36pt;
text-decoration:none;
padding:6px;
border:1px solid #F8F8F8;
background-color:#F0F0F0
}

.section
{
background-color:#FFFFFF;
color:#000000;
border:1px solid #000000;
padding:6px 4px 16px 4px;
margin:2px 0px 16px 0px;
}

.section .title
{
font-weight:bold;
font-size:14pt;
text-decoration:underline;
}

#smallnotices
{
font-size:10px;
color:#FFFFFF;
}

a
{
color:#0000FF;
}

a:visited
{
color:#800080;
}

#smallnotices a
{
color:#C0C0C0;
}