/*
  WWWMoa
  Normal Style (Buttons)
*/

.button
{
display:inline;
background-image:url(../images/STYASTbutton1);
background-repeat:repeat-x;
background-position:0 0;
background-color:#F0F0FF;
padding:2px 4px 2px 4px;
text-decoration:none;
font-weight:bold;
color:#000000;
border-top:1px solid #909090;
border-right:1px solid #909090;
border-bottom:1px solid #C0C0C0;
border-left:1px solid #C0C0C0
}

.button:hover
{
background-image:url(../images/STYASTbuttonhov1);
background-color:#F8F8FF
}

.button:active
{
border:1px solid #404040
}

.button:visited
{
color:#000000
}

.moaHelpButton
{
    background-image: url(/images/tango/16x16/apps/help-browser.png);
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;
}

.moaResetButton
{
    background-image: url(/images/tango/16x16/actions/edit-undo.png);
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;

}

.moaAddButton
{
    background-image: url(/images/tango/16x16/actions/add.png);
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;

}