
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>bfast_db &mdash; Moa v0.10.11 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.11',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.11 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="bidibebla" href="bidibebla.html" />
    <link rel="prev" title="bfast_aln" href="bfast_aln.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="bidibebla.html" title="bidibebla"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="bfast_aln.html" title="bfast_aln"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="bfast-db">
<h1>bfast_db<a class="headerlink" href="#bfast-db" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>Generate db index files for aligning reads with bfast</div></blockquote>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself</dd>
<dt><strong>run</strong></dt>
<dd>run bfast fasta2brg and index commands</dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>fa_input</strong></dt>
<dd>fasta input file</dd>
</dl>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>algorithm_colour_space</strong></dt>
<dd><p class="first">true -&gt; colour space, false -&gt; NT space</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>depth</strong></dt>
<dd><p class="first">The depth of the splitting(d). The index will be split into 4^d parts.</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>0</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>extra_params</strong></dt>
<dd><p class="first">Any extra parameters</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>hash_width</strong></dt>
<dd><p class="first">The hash width for the index (recommended from manual = 14)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>{}</cite></div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
</div>
</dd>
<dt><strong>index_num</strong></dt>
<dd><p class="first">Specifies this is the ith index you are creating</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>mask</strong></dt>
<dd><p class="first">The mask or spaced seed to use.</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: <cite>{}</cite></div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
</div>
</dd>
<dt><strong>print_params</strong></dt>
<dd><p class="first">print program parameters</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>thread_num</strong></dt>
<dd><p class="first">Specifies the number of threads to use</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>timing_information</strong></dt>
<dd><p class="first">specifies output timing information</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>True</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>usage_summary</strong></dt>
<dd><p class="first">Display usage summary (help)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="miscellaneous">
<h2>miscellaneous<a class="headerlink" href="#miscellaneous" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>ruff</dd>
<dt><strong>Author</strong></dt>
<dd>Yogini Idnani, Mark Fiers</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Feb 15 10:06:48 2011</dd>
<dt><strong>Modification date</strong></dt>
<dd>unknown</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">bfast_db</a><ul>
<li><a class="reference internal" href="#commands">Commands</a></li>
<li><a class="reference internal" href="#filesets">Filesets</a></li>
<li><a class="reference internal" href="#parameters">Parameters</a></li>
<li><a class="reference internal" href="#miscellaneous">miscellaneous</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="bfast_aln.html"
                        title="previous chapter">bfast_aln</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="bidibebla.html"
                        title="next chapter">bidibebla</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/templates/bfast_db.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="bidibebla.html" title="bidibebla"
             >next</a> |</li>
        <li class="right" >
          <a href="bfast_aln.html" title="bfast_aln"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, 2011, Mark Fiers.
      Last updated on May 16, 2011.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>