
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>bwa_aln &mdash; Moa v0.10.11 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.11',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.11 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="bwa_index" href="bwa_index.html" />
    <link rel="prev" title="bowtiedb" href="bowtiedb.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="bwa_index.html" title="bwa_index"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="bowtiedb.html" title="bowtiedb"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="bwa-aln">
<h1>bwa_aln<a class="headerlink" href="#bwa-aln" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>Use BWA to align a set of fastq reads against a db</div></blockquote>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself, note that this must be implemented by the template.</dd>
<dt><strong>run</strong></dt>
<dd>run bwa aln</dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>input</strong></dt>
<dd>Fastq input files</dd>
</dl>
<p><strong>output</strong></p>
<blockquote>
<div><div class="line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>pattern</em>: <cite>./*.sai</cite></div>
</div>
</div></blockquote>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>best_hits_stop</strong></dt>
<dd><p class="first">stop searching when there are &gt;INT equally best hits</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>30</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>color_space</strong></dt>
<dd><p class="first">input sequences are in the color space</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>db</strong></dt>
<dd><p class="first">bwa database to align against</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
</div>
</dd>
<dt><strong>edit_dist_missing_prob</strong></dt>
<dd><p class="first">max</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>0.04</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>gap_ext_max</strong></dt>
<dd><p class="first">maximum number of gap extensions, -1 for disabling long gaps</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>-1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>gap_ext_penalty</strong></dt>
<dd><p class="first">gap extension penalty</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>4</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>gap_open_penalty</strong></dt>
<dd><p class="first">gap open penalty</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>11</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>gap_opens_max</strong></dt>
<dd><p class="first">maximum number or fraction of gap opens</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>log_gap_penalty_del</strong></dt>
<dd><p class="first">log-scaled gap penalty for long deletions</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>max_ext_long_del</strong></dt>
<dd><p class="first">maximum occurrences for extending a long deletion</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>10</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>max_queue_entry</strong></dt>
<dd><p class="first">maximum entries in the queue</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>2000000</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>mismatch_penalty</strong></dt>
<dd><p class="first">mismatch penalty</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>3</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>no_indel_from_ends</strong></dt>
<dd><p class="first">do not put an indel within INT bp towards the ends</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>5</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>non_iterative</strong></dt>
<dd><p class="first">non-iterative mode search for all n-difference hits (slow)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>quality_step</strong></dt>
<dd><p class="first">quality threshold for read trimming down to 35bp</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>0</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>seed_len</strong></dt>
<dd><p class="first">Seed length</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>30</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>seed_max_diff</strong></dt>
<dd><p class="first">Maximum differences in the seed</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>2</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>thread_num</strong></dt>
<dd><p class="first">number of threads</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="miscellaneous">
<h2>miscellaneous<a class="headerlink" href="#miscellaneous" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>ruff</dd>
<dt><strong>Author</strong></dt>
<dd>Mark Fiers, Yogini Idnani</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Nov 10 07:56:48 2010</dd>
<dt><strong>Modification date</strong></dt>
<dd>unknown</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">bwa_aln</a><ul>
<li><a class="reference internal" href="#commands">Commands</a></li>
<li><a class="reference internal" href="#filesets">Filesets</a></li>
<li><a class="reference internal" href="#parameters">Parameters</a></li>
<li><a class="reference internal" href="#miscellaneous">miscellaneous</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="bowtiedb.html"
                        title="previous chapter">bowtiedb</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="bwa_index.html"
                        title="next chapter">bwa_index</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/templates/bwa_aln.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="bwa_index.html" title="bwa_index"
             >next</a> |</li>
        <li class="right" >
          <a href="bowtiedb.html" title="bowtiedb"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, 2011, Mark Fiers.
      Last updated on May 16, 2011.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>