
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>cdsmatrix &mdash; Moa v0.10.13 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.13',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.13 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="cleanFasta" href="cleanFasta.html" />
    <link rel="prev" title="bwa_samse" href="bwa_samse.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="cleanFasta.html" title="cleanFasta"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="bwa_samse.html" title="bwa_samse"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.13 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="cdsmatrix">
<h1>cdsmatrix<a class="headerlink" href="#cdsmatrix" title="Permalink to this headline">¶</a></h1>
<p><strong>CdsMatrix</strong></p>
<blockquote>
<div>Predicts (prokaryotic) using glimmer3.</div></blockquote>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself, note that this must be implemented by the template.</dd>
<dt><strong>run</strong></dt>
<dd>Generate a matrix of CDS&#8217;s</dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>input</strong></dt>
<dd>Directory with the cds files for Glimmer3</dd>
<dt><strong>output</strong></dt>
<dd><p class="first">Output blast files</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
<div class="line"><em>pattern</em>: <cite>./*.out</cite></div>
</div>
</dd>
<dt><strong>reference</strong></dt>
<dd><p class="first">reference multi fasta file</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>single</cite></div>
<div class="line"><em>category</em>: <cite>prerequisite</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>pattern</em>: <cite>*/*.fasta</cite></div>
</div>
</dd>
<dt><strong>table</strong></dt>
<dd><p class="first">table files</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
<div class="line"><em>pattern</em>: <cite>./*.tab</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>cutoff</strong></dt>
<dd><p class="first">score cutoff value - disregards hits below this score</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>{}</cite></div>
<div class="line"><em>default</em>: <cite>100</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="miscellaneous">
<h2>miscellaneous<a class="headerlink" href="#miscellaneous" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>ruff</dd>
<dt><strong>Author</strong></dt>
<dd>Mark Fiers</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Nov 10 07:56:48 2010</dd>
<dt><strong>Modification date</strong></dt>
<dd>Thu, 21 Jul 2011 20:31:10 +1200</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
<h3><a href="../index.html">Table of contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../goals.html">Goals</a></li>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../install.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../coretemplates.html">Three core templates</a></li>
<li class="toctree-l1"><a class="reference internal" href="../write_template.html">How to write a template</a></li>
<li class="toctree-l1"><a class="reference internal" href="../commands/index.html">Command reference</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Templates</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="abyss_pe.html">abyss_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="abyss_se.html">abyss_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="adhoc.html">adhoc</a></li>
<li class="toctree-l2"><a class="reference internal" href="bamextract.html">bamextract</a></li>
<li class="toctree-l2"><a class="reference internal" href="bartab.html">bartab</a></li>
<li class="toctree-l2"><a class="reference internal" href="bdbb.html">bdbb</a></li>
<li class="toctree-l2"><a class="reference internal" href="bfast_aln.html">bfast_aln</a></li>
<li class="toctree-l2"><a class="reference internal" href="bfast_db.html">bfast_db</a></li>
<li class="toctree-l2"><a class="reference internal" href="blast.html">blast</a></li>
<li class="toctree-l2"><a class="reference internal" href="blastdb.html">blastdb</a></li>
<li class="toctree-l2"><a class="reference internal" href="blat.html">blat</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtie.html">bowtie</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtie_pe.html">bowtie_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtie_se.html">bowtie_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtiedb.html">bowtiedb</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_aln.html">bwa_aln</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_index.html">bwa_index</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_sampe.html">bwa_sampe</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_samse.html">bwa_samse</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">cdsmatrix</a></li>
<li class="toctree-l2"><a class="reference internal" href="cleanFasta.html">cleanFasta</a></li>
<li class="toctree-l2"><a class="reference internal" href="clustalgroup.html">clustalgroup</a></li>
<li class="toctree-l2"><a class="reference internal" href="clustalpair.html">clustalpair</a></li>
<li class="toctree-l2"><a class="reference internal" href="clustalw.html">clustalw</a></li>
<li class="toctree-l2"><a class="reference internal" href="concatenate.html">concatenate</a></li>
<li class="toctree-l2"><a class="reference internal" href="dottup.html">dottup</a></li>
<li class="toctree-l2"><a class="reference internal" href="empty.html">empty</a></li>
<li class="toctree-l2"><a class="reference internal" href="fasta2gff.html">fasta2gff</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastainfo.html">fastainfo</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastqc.html">fastqc</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastx_clipper.html">fastx_clipper</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastx_qual_stats.html">fastx_qual_stats</a></li>
<li class="toctree-l2"><a class="reference internal" href="gather.html">gather</a></li>
<li class="toctree-l2"><a class="reference internal" href="genemarks.html">genemarks</a></li>
<li class="toctree-l2"><a class="reference internal" href="getorf.html">getorf</a></li>
<li class="toctree-l2"><a class="reference internal" href="glimmer3.html">glimmer3</a></li>
<li class="toctree-l2"><a class="reference internal" href="gmap.html">gmap</a></li>
<li class="toctree-l2"><a class="reference internal" href="gmapdb.html">gmapdb</a></li>
<li class="toctree-l2"><a class="reference internal" href="gsMapper.html">gsMapper</a></li>
<li class="toctree-l2"><a class="reference internal" href="h_blast.html">h_blast</a></li>
<li class="toctree-l2"><a class="reference internal" href="hagfish.html">hagfish</a></li>
<li class="toctree-l2"><a class="reference internal" href="kanga.html">kanga</a></li>
<li class="toctree-l2"><a class="reference internal" href="kangar_pe.html">kangar_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="kangar_se.html">kangar_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="kangax.html">kangax</a></li>
<li class="toctree-l2"><a class="reference internal" href="lftp.html">lftp</a></li>
<li class="toctree-l2"><a class="reference internal" href="map.html">map</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_fasta2bfa.html">maq_fasta2bfa</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_fastq2bfq.html">maq_fastq2bfq</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_match_pair.html">maq_match_pair</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_pe.html">maq_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_se.html">maq_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="moatest.html">moatest</a></li>
<li class="toctree-l2"><a class="reference internal" href="mummer.html">mummer</a></li>
<li class="toctree-l2"><a class="reference internal" href="ncbi.html">ncbi</a></li>
<li class="toctree-l2"><a class="reference internal" href="newbler.html">newbler</a></li>
<li class="toctree-l2"><a class="reference internal" href="newjobtest.html">newjobtest</a></li>
<li class="toctree-l2"><a class="reference internal" href="nstretch.html">nstretch</a></li>
<li class="toctree-l2"><a class="reference internal" href="orthomcl.html">orthomcl</a></li>
<li class="toctree-l2"><a class="reference internal" href="pregap.html">pregap</a></li>
<li class="toctree-l2"><a class="reference internal" href="project.html">project</a></li>
<li class="toctree-l2"><a class="reference internal" href="reduce.html">reduce</a></li>
<li class="toctree-l2"><a class="reference internal" href="sam2bam.html">sam2bam</a></li>
<li class="toctree-l2"><a class="reference internal" href="samtools_pileup.html">samtools_pileup</a></li>
<li class="toctree-l2"><a class="reference internal" href="sffinfo.html">sffinfo</a></li>
<li class="toctree-l2"><a class="reference internal" href="simple.html">simple</a></li>
<li class="toctree-l2"><a class="reference internal" href="soapdenovo_pe.html">soapdenovo_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="statsidx.html">statsidx</a></li>
<li class="toctree-l2"><a class="reference internal" href="sync.html">sync</a></li>
<li class="toctree-l2"><a class="reference internal" href="unittest.html">unittest</a></li>
<li class="toctree-l2"><a class="reference internal" href="varscan.html">varscan</a></li>
<li class="toctree-l2"><a class="reference internal" href="vpcr.html">vpcr</a></li>
<li class="toctree-l2"><a class="reference internal" href="vpcr_list.html">vpcr_list</a></li>
<li class="toctree-l2"><a class="reference internal" href="wget.html">wget</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../api/index.html">Moa API</a></li>
</ul>

<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="cleanFasta.html" title="cleanFasta"
             >next</a> |</li>
        <li class="right" >
          <a href="bwa_samse.html" title="bwa_samse"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.13 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010-2012 Mark Fiers.
      Last updated on Jan 05, 2012.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>