
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>getorf &mdash; Moa v0.10.11 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.11',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.11 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="glimmer3" href="glimmer3.html" />
    <link rel="prev" title="genemarks" href="genemarks.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="glimmer3.html" title="glimmer3"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="genemarks.html" title="genemarks"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="getorf">
<h1>getorf<a class="headerlink" href="#getorf" title="Permalink to this headline">¶</a></h1>
<p><strong>Getorf</strong></p>
<dl class="docutils">
<dt>::</dt>
<dd>Predicts open reading frames using the EMBOSS [[emboss]] getorf tool.</dd>
</dl>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself, note that this must be implemented by the template.</dd>
<dt><strong>run</strong></dt>
<dd><em>no help defined</em></dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>gff</strong>::</dt>
<dd><blockquote class="first">
<div>{}</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
<dt><strong>input</strong>::</dt>
<dd><blockquote class="first">
<div>Input files for getorf</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>{}</cite></div>
<div class="line"><em>category</em>: <cite>input</cite></div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
<dt><strong>output</strong>::</dt>
<dd><blockquote class="first">
<div>{}</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>circular</strong>::</dt>
<dd><blockquote class="first">
<div>Is the sequence linear?</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>N</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>default_command</strong>::</dt>
<dd><blockquote class="first">
<div>command to run for this template</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>{}</cite></div>
<div class="line"><em>default</em>: <cite>run</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>find</strong>::</dt>
<dd><blockquote class="first">
<div>What to output? 0: Translation between stop codons, 1: Translation between start &amp; stop codon, 2: Nucleotide sequence between stop codons; 3: Nucleotide sequence between start and stop codons. Default: 3</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>3</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>gff_source</strong>::</dt>
<dd><blockquote class="first">
<div>source field to use in the gff.</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: <cite>getorf</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>maxsize</strong>::</dt>
<dd><blockquote class="first">
<div>maximal nucleotide size of the predicted ORF.</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1000000</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>minsize</strong>::</dt>
<dd><blockquote class="first">
<div>minimal nucleotide size of the predicted ORF.</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>30</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>table</strong>::</dt>
<dd><blockquote class="first">
<div>Genetic code to use: 0 Standard; 1 Standard with alternative initiation codons; 2 Vertebrate Mitochondrial; 3 Yeast Mitochondrial; 4 Mold, Protozoan, Coelenterate Mitochondrial and Mycoplasma/Spiroplasma; 5 Invertebrate Mitochondrial; 6 Ciliate Macronuclear and Dasycladacean; 9 Echinoderm Mitochondrial; 10 Euplotid Nuclear; 11 Bacterial; 12 Alternative Yeast Nuclear; 13 Ascidian Mitochondrial; 14 Flatworm Mitochondrial; 15 Blepharisma Macronuclear; 16 Chlorophycean Mitochondrial; 21 Trematode Mitochondrial; 22 Scenedesmus obliquus; 23 Thraustochytrium Mitochondrial.</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>11</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>title</strong>::</dt>
<dd><blockquote class="first">
<div>A name for this job</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="other">
<h2>Other<a class="headerlink" href="#other" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>gnumake</dd>
<dt><strong>Author</strong></dt>
<dd>Mark Fiers</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Nov 10 07:56:48 2010</dd>
<dt><strong>Modification date</strong></dt>
<dd>Wed Nov 10 07:56:48 2010</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">getorf</a><ul>
<li><a class="reference internal" href="#commands">Commands</a></li>
<li><a class="reference internal" href="#filesets">Filesets</a></li>
<li><a class="reference internal" href="#parameters">Parameters</a></li>
<li><a class="reference internal" href="#other">Other</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="genemarks.html"
                        title="previous chapter">genemarks</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="glimmer3.html"
                        title="next chapter">glimmer3</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/templates/getorf.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="glimmer3.html" title="glimmer3"
             >next</a> |</li>
        <li class="right" >
          <a href="genemarks.html" title="genemarks"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, 2011, Mark Fiers.
      Last updated on May 16, 2011.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>