
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>lftp &mdash; Moa v0.10.1 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.1 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="f2b" href="maq_fasta2bfa.html" />
    <link rel="prev" title="kangax" href="kangax.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="maq_fasta2bfa.html" title="f2b"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="kangax.html" title="kangax"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.1 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="lftp">
<h1>lftp<a class="headerlink" href="#lftp" title="Permalink to this headline">¶</a></h1>
<p><strong>lftp</strong></p>
<dl class="docutils">
<dt>::</dt>
<dd>Use LFTP to download files. This template has two modi, one is set lftp_mode to mirror data, in which case both lftp_url and lftp_pattern (default <a href="#id1"><span class="problematic" id="id2">*</span></a>) are used. The other modus is lftp_mode=get, when one file defined by lftp_url is downloaded. In the mirror mode it is possible to download only those files that are newer as the files already downloaded by using the lftp_timestamp parameter</dd>
</dl>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself, note that this must be implemented by the template.</dd>
<dt><strong>run</strong></dt>
<dd>execute the download</dd>
</dl>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>default_command</strong>::</dt>
<dd><blockquote class="first">
<div>command to run for this template</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>{}</cite></div>
<div class="line"><em>default</em>: <cite>run</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>dos2unix</strong>::</dt>
<dd><blockquote class="first">
<div>Run dos2unix to prevent problems with possible dos text files</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>F</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>get_name</strong>::</dt>
<dd><blockquote class="first">
<div>target name of the file to download</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>lftp_output_dir</strong>::</dt>
<dd><blockquote class="first">
<div>subdir to create &amp; write all output to. If not defined, data will be downloaded to directory containing the Makefile</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>directory</cite></div>
<div class="line"><em>default</em>: <cite>.</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
</div>
</dd>
<dt><strong>lock</strong>::</dt>
<dd><blockquote class="first">
<div>Lock this job after running. This means that you will have to manually unlock the job before lftp actually reruns. This is a good choice if your downloading large datasets or have a slow connection</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>T</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>mode</strong>::</dt>
<dd><blockquote class="first">
<div>Mode of operation - mirror or get. Mirror enables timestamping. Get just gets a single file. If using get, consider setting depend_lftp_timestamp to F. When using get, the full url should be in lftp_url. lftp_pattern is ignored. Defaults to mirror.</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>get</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>noclean</strong>::</dt>
<dd><blockquote class="first">
<div>set of files not to be deleted by the powerclean</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: <cite>moa.mk Makefile</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>pass</strong>::</dt>
<dd><blockquote class="first">
<div>password for the remote site, note that this can be defined on the commandline using: make lftp_pass=PASSWORD</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>password</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>pattern</strong>::</dt>
<dd><blockquote class="first">
<div>glob pattern to download</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: <cite>&#8216;*&#8217;</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>powerclean</strong>::</dt>
<dd><blockquote class="first">
<div>Do brute force cleaning (T/F). Remove all files, except moa.mk &amp; Makefile when calling make clean. Defaults to F.</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>F</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>timestamp</strong>::</dt>
<dd><blockquote class="first">
<div>Depend on lftp to decide if a file needs updating, else a touchfile is created that you need to delete or touch before updating (T/<em>F</em>)</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>set</cite></div>
<div class="line"><em>default</em>: <cite>F</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>title</strong>::</dt>
<dd><blockquote class="first">
<div>A name for this job</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>url</strong>::</dt>
<dd><blockquote class="first">
<div>The base url to download from</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>user</strong>::</dt>
<dd><blockquote class="first">
<div>username for the remote site</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="other">
<h2>Other<a class="headerlink" href="#other" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>gnumake</dd>
<dt><strong>Author</strong></dt>
<dd>Mark Fiers</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Nov 10 07:56:48 2010</dd>
<dt><strong>Modification date</strong></dt>
<dd>Wed Nov 10 07:56:48 2010</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">lftp</a><ul>
<li><a class="reference internal" href="#commands">Commands</a></li>
<li><a class="reference internal" href="#parameters">Parameters</a></li>
<li><a class="reference internal" href="#other">Other</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="kangax.html"
                        title="previous chapter">kangax</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="maq_fasta2bfa.html"
                        title="next chapter">f2b</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/templates/lftp.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="maq_fasta2bfa.html" title="f2b"
             >next</a> |</li>
        <li class="right" >
          <a href="kangax.html" title="kangax"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.1 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, Mark Fiers.
      Last updated on May 16, 2011.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>