
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>primersearch &mdash; Moa v0.10.12 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.12',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.12 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="project" href="project.html" />
    <link rel="prev" title="pregap" href="pregap.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="project.html" title="project"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="pregap.html" title="pregap"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.12 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="primersearch">
<h1>primersearch<a class="headerlink" href="#primersearch" title="Permalink to this headline">¶</a></h1>
<p><strong>Run EMBOSS primerpair</strong></p>
<blockquote>
<div>Search DNA sequences for matches with primer pairs</div></blockquote>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>run</strong></dt>
<dd><em>no help defined</em></dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>input</strong></dt>
<dd>primersearch input sequence files</dd>
<dt><strong>output</strong></dt>
<dd><p class="first">primersearch output files</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
<div class="line"><em>pattern</em>: <cite>./*.primersearch</cite></div>
</div>
</dd>
<dt><strong>primers</strong></dt>
<dd><p class="first">Primer pairs file</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>single</cite></div>
<div class="line"><em>category</em>: <cite>prerequisite</cite></div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
<div class="line"><em>pattern</em>: <cite>*/*</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>johns_postprocess</strong></dt>
<dd><p class="first">Run John&#8217;s Post processing</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>True</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>mismatch</strong></dt>
<dd><p class="first">Allowed percent mismatch</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>0</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="miscellaneous">
<h2>miscellaneous<a class="headerlink" href="#miscellaneous" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>ruff</dd>
<dt><strong>Author</strong></dt>
<dd>John McCallum</dd>
<dt><strong>Creation date</strong></dt>
<dd>Mon Apr 04 08:51:23 2011</dd>
<dt><strong>Modification date</strong></dt>
<dd>Mon Apr 04 09:00:42 2011</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">primersearch</a><ul>
<li><a class="reference internal" href="#commands">Commands</a></li>
<li><a class="reference internal" href="#filesets">Filesets</a></li>
<li><a class="reference internal" href="#parameters">Parameters</a></li>
<li><a class="reference internal" href="#miscellaneous">miscellaneous</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="pregap.html"
                        title="previous chapter">pregap</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="project.html"
                        title="next chapter">project</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/templates/primersearch.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="project.html" title="project"
             >next</a> |</li>
        <li class="right" >
          <a href="pregap.html" title="pregap"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.12 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, 2011, Mark Fiers.
      Last updated on Jun 03, 2011.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>