
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>samtools_pileup &mdash; Moa v0.10.12 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.12',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.12 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="sffinfo" href="sffinfo.html" />
    <link rel="prev" title="sam2bam" href="sam2bam.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="sffinfo.html" title="sffinfo"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="sam2bam.html" title="sam2bam"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="samtools-pileup">
<h1>samtools_pileup<a class="headerlink" href="#samtools-pileup" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>Print the alignment in the pileup format.</div></blockquote>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself</dd>
<dt><strong>run</strong></dt>
<dd>run samtools pileup command</dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>fasta</strong></dt>
<dd><p class="first">reference fasta file</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>single</cite></div>
<div class="line"><em>category</em>: <cite>prerequisite</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
<div class="line"><em>pattern</em>: <cite>*/*.fasta</cite></div>
</div>
</dd>
<dt><strong>input</strong></dt>
<dd>bam or sam files</dd>
</dl>
<p><strong>output</strong></p>
<blockquote>
<div><div class="line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>pattern</em>: <cite>./*.pileup</cite></div>
</div>
</div></blockquote>
<p><strong>output_bam</strong></p>
<blockquote>
<div><div class="line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>pattern</em>: <cite>./*.sorted</cite></div>
</div>
</div></blockquote>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>cap_mapQ_at</strong></dt>
<dd><p class="first">cap mapping quality at INT</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>60</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>extra_params</strong></dt>
<dd><p class="first">any extra parameters</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>filter_read_bits</strong></dt>
<dd><p class="first">filtering reads with bits in INT</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1796</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>input_is_SAM</strong></dt>
<dd><p class="first">the input is in SAM</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>num_haplotypes</strong></dt>
<dd><p class="first">number of haplotypes in the sample (for -c/-g)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>2</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>out_2nd_best</strong></dt>
<dd><p class="first">output the 2nd best call and quality</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>out_GLFv3_format</strong></dt>
<dd><p class="first">output in the GLFv3 format (suppressing -c/-i/-s)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>out_maq_consensus</strong></dt>
<dd><p class="first">output the maq consensus sequence</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>phred_prob_indel</strong></dt>
<dd><p class="first">phred prob. of an indel in sequencing/prep. (for -c/-g)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>40</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>print_variants_only</strong></dt>
<dd><p class="first">print variants only (for -c)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>prior_diff_haplotypes</strong></dt>
<dd><p class="first">phred prob. of an indel in sequencing/prep. (for -c/-g)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>float</cite></div>
<div class="line"><em>default</em>: <cite>0.001</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>prior_indel_haplotypes</strong></dt>
<dd><p class="first">number of haplotypes in the sample (for -c/-g)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>float</cite></div>
<div class="line"><em>default</em>: <cite>0.00015</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>show_lines_indels</strong></dt>
<dd><p class="first">only show lines/consensus with indels</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>simple_pileup_format</strong></dt>
<dd><p class="first">simple (yet incomplete) pileup format</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>theta_maq_model</strong></dt>
<dd><p class="first">number of haplotypes in the sample (for -c/-g)</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>float</cite></div>
<div class="line"><em>default</em>: <cite>0.85</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>use_SOAPsnp_model</strong></dt>
<dd><p class="first">use the SOAPsnp model for SNP calling</p>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="miscellaneous">
<h2>miscellaneous<a class="headerlink" href="#miscellaneous" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>ruff</dd>
<dt><strong>Author</strong></dt>
<dd>Yogini Idnani, Mark Fiers</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Dec 15 17:06:48 2010</dd>
<dt><strong>Modification date</strong></dt>
<dd>unknown</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
<h3><a href="../index.html">Table of contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../goals.html">Goals</a></li>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../install.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../coretemplates.html">Three core templates</a></li>
<li class="toctree-l1"><a class="reference internal" href="../write_template.html">How to write a template</a></li>
<li class="toctree-l1"><a class="reference internal" href="../commands/index.html">Command reference</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Templates</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="abyss_pe.html">abyss_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="abyss_se.html">abyss_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="adhoc.html">adhoc</a></li>
<li class="toctree-l2"><a class="reference internal" href="bamextract.html">bamextract</a></li>
<li class="toctree-l2"><a class="reference internal" href="bartab.html">bartab</a></li>
<li class="toctree-l2"><a class="reference internal" href="bdbb.html">bdbb</a></li>
<li class="toctree-l2"><a class="reference internal" href="bfast_aln.html">bfast_aln</a></li>
<li class="toctree-l2"><a class="reference internal" href="bfast_db.html">bfast_db</a></li>
<li class="toctree-l2"><a class="reference internal" href="blast.html">blast</a></li>
<li class="toctree-l2"><a class="reference internal" href="blastdb.html">blastdb</a></li>
<li class="toctree-l2"><a class="reference internal" href="blat.html">blat</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtie.html">bowtie</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtie_pe.html">bowtie_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtie_se.html">bowtie_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="bowtiedb.html">bowtiedb</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_aln.html">bwa_aln</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_index.html">bwa_index</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_sampe.html">bwa_sampe</a></li>
<li class="toctree-l2"><a class="reference internal" href="bwa_samse.html">bwa_samse</a></li>
<li class="toctree-l2"><a class="reference internal" href="cdsmatrix.html">cdsmatrix</a></li>
<li class="toctree-l2"><a class="reference internal" href="cleanFasta.html">cleanFasta</a></li>
<li class="toctree-l2"><a class="reference internal" href="clustalgroup.html">clustalgroup</a></li>
<li class="toctree-l2"><a class="reference internal" href="clustalpair.html">clustalpair</a></li>
<li class="toctree-l2"><a class="reference internal" href="clustalw.html">clustalw</a></li>
<li class="toctree-l2"><a class="reference internal" href="concatenate.html">concatenate</a></li>
<li class="toctree-l2"><a class="reference internal" href="dottup.html">dottup</a></li>
<li class="toctree-l2"><a class="reference internal" href="empty.html">empty</a></li>
<li class="toctree-l2"><a class="reference internal" href="fasta2gff.html">fasta2gff</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastainfo.html">fastainfo</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastqc.html">fastqc</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastx_clipper.html">fastx_clipper</a></li>
<li class="toctree-l2"><a class="reference internal" href="fastx_qual_stats.html">fastx_qual_stats</a></li>
<li class="toctree-l2"><a class="reference internal" href="gather.html">gather</a></li>
<li class="toctree-l2"><a class="reference internal" href="genemarks.html">genemarks</a></li>
<li class="toctree-l2"><a class="reference internal" href="getorf.html">getorf</a></li>
<li class="toctree-l2"><a class="reference internal" href="glimmer3.html">glimmer3</a></li>
<li class="toctree-l2"><a class="reference internal" href="gmap.html">gmap</a></li>
<li class="toctree-l2"><a class="reference internal" href="gmapdb.html">gmapdb</a></li>
<li class="toctree-l2"><a class="reference internal" href="gsMapper.html">gsMapper</a></li>
<li class="toctree-l2"><a class="reference internal" href="h_blast.html">h_blast</a></li>
<li class="toctree-l2"><a class="reference internal" href="hagfish.html">hagfish</a></li>
<li class="toctree-l2"><a class="reference internal" href="kanga.html">kanga</a></li>
<li class="toctree-l2"><a class="reference internal" href="kangar_pe.html">kangar_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="kangar_se.html">kangar_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="kangax.html">kangax</a></li>
<li class="toctree-l2"><a class="reference internal" href="lftp.html">lftp</a></li>
<li class="toctree-l2"><a class="reference internal" href="map.html">map</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_fasta2bfa.html">maq_fasta2bfa</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_fastq2bfq.html">maq_fastq2bfq</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_match_pair.html">maq_match_pair</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_pe.html">maq_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="maq_se.html">maq_se</a></li>
<li class="toctree-l2"><a class="reference internal" href="moatest.html">moatest</a></li>
<li class="toctree-l2"><a class="reference internal" href="mummer.html">mummer</a></li>
<li class="toctree-l2"><a class="reference internal" href="ncbi.html">ncbi</a></li>
<li class="toctree-l2"><a class="reference internal" href="newbler.html">newbler</a></li>
<li class="toctree-l2"><a class="reference internal" href="newjobtest.html">newjobtest</a></li>
<li class="toctree-l2"><a class="reference internal" href="nstretch.html">nstretch</a></li>
<li class="toctree-l2"><a class="reference internal" href="orthomcl.html">orthomcl</a></li>
<li class="toctree-l2"><a class="reference internal" href="pregap.html">pregap</a></li>
<li class="toctree-l2"><a class="reference internal" href="project.html">project</a></li>
<li class="toctree-l2"><a class="reference internal" href="reduce.html">reduce</a></li>
<li class="toctree-l2"><a class="reference internal" href="sam2bam.html">sam2bam</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">samtools_pileup</a></li>
<li class="toctree-l2"><a class="reference internal" href="sffinfo.html">sffinfo</a></li>
<li class="toctree-l2"><a class="reference internal" href="simple.html">simple</a></li>
<li class="toctree-l2"><a class="reference internal" href="soapdenovo_pe.html">soapdenovo_pe</a></li>
<li class="toctree-l2"><a class="reference internal" href="statsidx.html">statsidx</a></li>
<li class="toctree-l2"><a class="reference internal" href="sync.html">sync</a></li>
<li class="toctree-l2"><a class="reference internal" href="unittest.html">unittest</a></li>
<li class="toctree-l2"><a class="reference internal" href="varscan.html">varscan</a></li>
<li class="toctree-l2"><a class="reference internal" href="vpcr.html">vpcr</a></li>
<li class="toctree-l2"><a class="reference internal" href="vpcr_list.html">vpcr_list</a></li>
<li class="toctree-l2"><a class="reference internal" href="wget.html">wget</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../api/index.html">Moa API</a></li>
</ul>

<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="sffinfo.html" title="sffinfo"
             >next</a> |</li>
        <li class="right" >
          <a href="sam2bam.html" title="sam2bam"
             >previous</a> |</li>
        <li><a href="../index.html">Moa</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010-2012 Mark Fiers.
      Last updated on Jan 05, 2012.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>