
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>soap_aln_se &mdash; Moa v0.10.11 documentation</title>
    <link rel="stylesheet" href="../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '0.10.11',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Moa v0.10.11 documentation" href="../index.html" />
    <link rel="up" title="Templates" href="index.html" />
    <link rel="next" title="soapdb" href="soapdb.html" />
    <link rel="prev" title="soap_aln_pe" href="soap_aln_pe.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="soapdb.html" title="soapdb"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="soap_aln_pe.html" title="soap_aln_pe"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templates</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="soap-aln-se">
<h1>soap_aln_se<a class="headerlink" href="#soap-aln-se" title="Permalink to this headline">¶</a></h1>
<dl class="docutils">
<dt>::</dt>
<dd>Use SOAP to align a set of fastq reads against a db</dd>
</dl>
<div class="section" id="commands">
<h2>Commands<a class="headerlink" href="#commands" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>clean</strong></dt>
<dd>Remove all job data, not the Moa job itself</dd>
<dt><strong>run</strong></dt>
<dd>run soap to align single end reads</dd>
</dl>
</div>
<div class="section" id="filesets">
<h2>Filesets<a class="headerlink" href="#filesets" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>bam_output</strong>::</dt>
<dd><blockquote class="first">
<div>{}</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>fq_input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
<dt><strong>fa_input</strong>::</dt>
<dd><blockquote class="first">
<div>directory with reference fasta file name</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>{}</cite></div>
<div class="line"><em>category</em>: <cite>prerequisite</cite></div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
<dt><strong>fq_input</strong>::</dt>
<dd><blockquote class="first">
<div>Fastq input file</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>{}</cite></div>
<div class="line"><em>category</em>: <cite>input</cite></div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
<dt><strong>soap_output</strong>::</dt>
<dd><blockquote class="first">
<div>{}</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>map</cite></div>
<div class="line"><em>source</em>: <cite>fq_input</cite></div>
<div class="line"><em>category</em>: <cite>output</cite></div>
<div class="line"><em>optional</em>: <cite>{}</cite></div>
<div class="line"><em>extension</em>: <cite>{}</cite></div>
<div class="line"><em>glob</em>: <cite>{}</cite></div>
<div class="line"><em>dir</em>: <cite>{}</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="parameters">
<h2>Parameters<a class="headerlink" href="#parameters" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>db_index_files</strong>::</dt>
<dd><blockquote class="first">
<div>Prefix name for reference index [<a href="#id1"><span class="problematic" id="id2">*</span></a>.index]</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
</div>
</dd>
<dt><strong>default_command</strong>::</dt>
<dd><blockquote class="first">
<div>command to run for this template</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>{}</cite></div>
<div class="line"><em>default</em>: <cite>run</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>edge_bp_no_gaps</strong>::</dt>
<dd><blockquote class="first">
<div>will not allow gap exist inside n-bp edge of a read</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>5</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>gap_size</strong>::</dt>
<dd><blockquote class="first">
<div>one continuous gap size allowed on a read</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>0</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>how_report_hits</strong>::</dt>
<dd><blockquote class="first">
<div>How  to  report repeat hits, 0=none; 1=random one; 2=all</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>long_read_seed_len</strong>::</dt>
<dd><blockquote class="first">
<div>For  long  reads  with  high  error rate at 3&#8217;-end, those can&#8217;t align whole length, then  first  align  5&#8217;  INT  bp subsequence as a seed, [256] use whole length of the read</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>256</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>match_mode</strong>::</dt>
<dd><blockquote class="first">
<div>Match mode for each read or the seed part of read,  which shouldn&#8217;t contain more than 2 mismaches, 0 exact match only 1 1 mismatch match only 2 2 mismatch match only 3 [gap] (coming soon) 4 find the best hits</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>4</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>mismatches_per_read</strong>::</dt>
<dd><blockquote class="first">
<div>Totally allowed mismatches in one read</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>6</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>out_read_id</strong>::</dt>
<dd><blockquote class="first">
<div>Output reads id instead of reads name</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>boolean</cite></div>
<div class="line"><em>default</em>: <cite>False</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>out_unmapped_reads_file</strong>::</dt>
<dd><blockquote class="first">
<div>Output file name for unmapped reads</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: <cite>unmapped_reads.txt</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>rm_low_qual_reads</strong>::</dt>
<dd><blockquote class="first">
<div>Filter low quality reads contain more INT bp Ns</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>5</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>thread_num</strong>::</dt>
<dd><blockquote class="first">
<div>Multithreads, n threads</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>integer</cite></div>
<div class="line"><em>default</em>: <cite>1</cite></div>
<div class="line"><em>optional</em>: <cite>True</cite></div>
</div>
</dd>
<dt><strong>title</strong>::</dt>
<dd><blockquote class="first">
<div>A name for this job</div></blockquote>
<div class="last line-block">
<div class="line"><em>type</em>: <cite>string</cite></div>
<div class="line"><em>default</em>: ``</div>
<div class="line"><em>optional</em>: <cite>False</cite></div>
</div>
</dd>
</dl>
</div>
<div class="section" id="other">
<h2>Other<a class="headerlink" href="#other" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt><strong>Backend</strong></dt>
<dd>ruff</dd>
<dt><strong>Author</strong></dt>
<dd>Mark Fiers, Yogini Idnani</dd>
<dt><strong>Creation date</strong></dt>
<dd>Wed Nov 29 07:56:48 2010</dd>
<dt><strong>Modification date</strong></dt>
<dd>1297380110.93</dd>
</dl>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../index.html">
              <img class="logo" src="../_static/moa.logo.small.png" alt="Logo"/>
            </a></p>
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">soap_aln_se</a><ul>
<li><a class="reference internal" href="#commands">Commands</a></li>
<li><a class="reference internal" href="#filesets">Filesets</a></li>
<li><a class="reference internal" href="#parameters">Parameters</a></li>
<li><a class="reference internal" href="#other">Other</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="soap_aln_pe.html"
                        title="previous chapter">soap_aln_pe</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="soapdb.html"
                        title="next chapter">soapdb</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/templates/soap_aln_se.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="soapdb.html" title="soapdb"
             >next</a> |</li>
        <li class="right" >
          <a href="soap_aln_pe.html" title="soap_aln_pe"
             >previous</a> |</li>
        <li><a href="../index.html">Moa v0.10.11 documentation</a> &raquo;</li>
          <li><a href="index.html" >Templates</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, 2011, Mark Fiers.
      Last updated on May 16, 2011.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>