### run

cat {{ regions }} | while read id seqid start stop; 
do
    if (( ${start} < {{flank}} ));
    then fstart=1  
    else fstart=$((${start}-{{flank}}))
    fi
    fstop=$((${stop}+{{flank}}))

    [[ -f ${id}.bam ]] || \
	samtools view -b {{bam}} ${seqid}:${fstart}-${fstop} > ${id}.bam
                
    if [[ -f "{{vcf}}" ]]
    then
        if [[ -f ${id}.vcf ]]
        then
                echo "Getting vcf"
                tabix {{ vcf }} ${seqid}:${fstart}-${fstop} > ${id}.vcf
        fi
    fi
    echo 
done

