{% extends "job/default.jinja2" %}
{% block header %}[[Category:Moa]][[Category:MoaProject]]{% endblock -%}
{%- block post_readme %}
= Jobs =

{{ '{{' }}#ask: [[Category:MoaJob]] [[MoaProject::moa/{{smw.project}}]]


{{ '}}' }}

{% endblock -%}