== Change message ==

{| style="color: black; background-color: #ffffff;" width="100%" class="wikitable"
! Project
| [[MoaProject::moa/{{smw.project}}]]
|-
! Job
| [[MoaJob::{{smw.smwjobid }}]]
|-
! Message
| [[MoaChangeMessage::{{smw.message}}]]
|-
! Command line
| [[MoaCommandLine::{{smw.commandline}}]]
|}

[[Category:Moa]]
[[Category:MoaChangeMessage]]
