### run

mkdir -p raw
mkdir -p align
mkdir -p genepred
mkdir -p gff

gmap -D `dirname {{ db }}` -d `basename {{ db }}` \
	{{ extra_parameters }} {{ input }} -A -F -f 3 -n 100000 > {{ raw }}

gmap -D `dirname {{ db }}` -d `basename {{ db }}` \
	{{ extra_parameters }} -A {{ input }} -F -f 3  -n 100000  > {{ align }}

#gmapgff2genepred {{ raw }} > {{ genepred }}

cat {{ raw }} \
	| sed "s/`basename {{ db }}`/{{ gff_source }}/" \
	| sed "s/cDNA_match/match/" \
	| sed "s/^\([^\t]*\)\(.*\)ID=\([^;]*\).path\([0-9]\+\);Name=\([^;]*\)\(.*\)/\1\2ID=gmap__\1__\3__\4;Name=gmap__\1__\3__\4\6/" \
	| sed "s/Target=/Target=Sequence:/" \
	> {{ gff }}

invertGff {{ gff }} {{ gff_invert }}

echo "You can also run the following command:"
echo
echo 'cat align/out.align | grep -v '^#' | while read; do name=`echo $REPLY | sed "s/.*Name=//" | sed "s/;Target.*//"`;  echo $REPLY >> $name.gff; done'
echo
echo "To separate the hits per input sequence (when having multiple input sequences per input file)"

### clean

rm -rf raw || true
rm -rf align || true
rm -rf gff || true
rm -rf genepred || true