/*
color0=A31E39
color1=485C5A
color2=8C9C9A
color3=9DB2B1
color4=BFCFCC
color5=D6E4E1
*/
body {
	font-family: Verdana, Geneva, sans-serif
}

a:link { color: black }
a:visited { color: black }
a:hover { color: #A31E39; }
a:active { color: #A31E39; }

.moaHeader {
	clear: both;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
    background-color: #8aa;

}

.tooltip {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
   background-color: #D6E4E1;
   -moz-border-radius: 6px;                                                                                                                                                                                                                 
   -webkit-border-radius: 6px;
   border-radius: 6px;     
   padding: 5px;
   color: black;
   border: 1px solid #485C5A;
}

.moaInfo {
	margin: 0px;
	margin-left: 100px;
	padding: 5px;	
	widht: 95%;
}

.moaLogo {
	border-radius: 5px;
	padding: 5px;
	float: left;
	margin: 0px;
	width: 87px;
    height: 90px;
}

.moaBreadCrumbs {
    height: 26px;
}

.moaBreadCrumbs a:link { color: white }
.moaBreadCrumbs a:visited { color: white }
.moaBreadCrumbs a:hover { color: #A31E39; }
.moaBreadCrumbs a:active { color: #A31E39; }

.moaTitle {
    float: left;
    padding: 2px;
    margin-left: 6px;
    font-weight: bold;
}
.moaStatus {
    float: right;
    font-weight: bold;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    -moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #8C9C9A;
    color: white;    
	border: 1px solid #485C5A;
}

.moaTemplate {
    font-weight: bold;
    cursor: pointer;
	float: left;
	padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #8C9C9A;
    color: white;    
	border: 1px solid #485C5A;
}

.moaBreadCrumb {
    font-weight: bold;
    cursor: pointer;
	display: inline;
	padding: 5px;
	margin-left: 2px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #8C9C9A;
    color: white;    
	border: 1px solid #485C5A;
}

.moaBreadCrumbActive {
	background-color: #A31E39;
    cursor: auto;
    margin-left: auto;
    margin-right: auto;
}

div#loadInProgress {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 300px;
    margin-left: -150px;
    height: 200px;
    text-align: center;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #8C9C9A;
	layer-background-color: #8C9C9A;
}
img#moaProgress {
    padding-top: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}